---
title: Disciplinary Research Support
slug: disciplinary-research-support
handle: disciplinary-research-support
position: 1
listed: true
published: true
is_layout: false
editable_elements:
  main/section_photo: "/samples/assets/placeholder.jpg"
  main/landing_description: ''
  main/page_content: '<p>We have teams that specialize in disciplinary research support:
    Science, Social Science, Design, and Interdisciplinary. Schedule an appointment
    through our <a target="_blank" href="https://cornell.libwizard.com/f/RequestMannConsultation"
    title="Research a Mann Consultation">research support request form</a>.</p><p>Examples
    of support offered:</p><p></p><ul><li>Refining research topics</li><li>Search
    strategy</li><li>Finding literature, supporting evidence, data, and statistics</li><li>Mendeley,
    Zotero, EndNote</li></ul><p>Need help with something else? <a href="https://mannlib.cornell.edu/help/research-support/research-help"
    title="Consultation Services">Review our other research services</a> (like GIS,
    data management, systematic reviews).<br></p><p></p>'
---
{% extends "layouts/basic-page" %}

{% block 'main/dynamic' %}
  {% include 'dynamic-teams' %}
{% endblock %}

{% block 'main/alert' %}
  <div class="ui icon error message">
    <span class="exclamation circle icon"></span>
    <div class="content">
      <p>Due to COVID-19, and until further notice, all consultations will be conducted online via Zoom.  At a minimum, this will allow us to have an audio conversation, optionally with video and screensharing, which can be very useful for demonstrating use of databases and troubleshooting.</p>
      <p>If you have not yet used Zoom at Cornell, please <a href="https://it.cornell.edu/zoom/install-zoom-software" title="Install Zoom application from Cornell IT website">install the free software</a> prior to the start of your consultation.</p>
    </div>
  </div>
{% endblock %}
