---
title: Research Guides
slug: research-guides
position: 2
listed: true
published: true
is_layout: false
editable_elements:
  main/page_content: '<div class="content-header"><h2>Guides by Subject</h2></div><div
    class="content-body"><div class="node"><div class="content clear"><p>Mann Library
    staff have created a series of research guides to support degree programs in the
    College of Agriculture and Life Sciences, and the College of Human Ecology.  Are
    you looking for information related to biology? Marketing? Animal Sciences?  To
    find these subjects plus other related subject guides select a resources from
    the drop-down menu below.</p><div>Select a Guide...<br>Animal Genetics<br>Business
    Resources - Recommended by Mann Library<br>Enology &amp; Viticulture<br>Genomics
    &amp; Genetics<br>Ornithology<br>Sloan Program in Health Administration: A guide
    to resources<br>Go<div class="s-lg-widget-list-more-results s-lib-greyout pad-top-med
    pad-left-sm"><i class="fa fa-search"></i><a rel="nofollow" target="_blank" href="http://guides.library.cornell.edu/srch.php?q="
    data-mce-href="http://guides.library.cornell.edu/srch.php?q=">View More Results</a></div></div><p><br></p><p>Browse
    or search <a rel="nofollow" href="http://guides.library.cornell.edu/" data-mce-href="http://guides.library.cornell.edu/">guides</a>&nbsp;in
    subject areas covered by Mann and other libraries for a list of other suggested
    resources.</p></div></div></div>'
---
{% extends parent %}

{% block 'main/dynamic' %}
  {% include 'dynamic-research-guides' %}
{% endblock %}
