---
title: Research Guides
slug: research-guides
handle: research-guides
position: 2
listed: true
published: true
is_layout: false
editable_elements:
  main/page_content: '<div class="content-body"><div class="node"><div class="content
    clear"><p>Mann Library staff have created a series of research guides to support
    degree programs in the College of Agriculture and Life Sciences, and the College
    of Human Ecology.&nbsp;<br></p><p></p><p>Browse or search <a rel="nofollow" href="http://guides.library.cornell.edu/"
    title="Link: http://guides.library.cornell.edu/" data-mce-href="http://guides.library.cornell.edu/">guides</a>&nbsp;in
    subject areas covered by Mann and other libraries for a list of other suggested
    resources.</p><p><br></p></div></div></div>'
---
{% extends 'layouts/basic-page' %}

{% block 'main/dynamic' %}
  {% include 'dynamic-research-guides' %}
{% endblock %}
