// Breakpoints
$scape: 30em;
$tablet: 45em;
$lapdesk: 56em;
$allout: 69em;

// Layouts
$susy: (
  columns: 4 2 2 4,
  gutters: .15,
  global-box-sizing: border-box,
  debug: ( // Uncomment these to render grid visualization:
    // image: show,
    color: rgba(#ff851b, .25),
    // output: overlay,
  )
);

// $susy: layout(inside-static show);

$g-scape: (
  columns: 6,
);

$g-tablet: (
  columns: 8,
);

$g-lapdesk: (
  columns: 12,
);

$g-allout: (
  columns: 12,
);

body {
  @include container;
  @include clearfix;


  @include susy-breakpoint($scape, $g-scape) {
    @include container;
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    @include container;
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include container;
  }

  @include susy-breakpoint($allout, $g-allout) {
    @include container;
  }
}

main {
  margin: 0 auto;
  width: 95%;
  @include break;

  @include susy-breakpoint($tablet, $g-tablet) {
    width: 90%;
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    width: 85%;
  }
}
