// Breakpoints
$scape: 30em;
$tablet: 43em;
$lapdesk: 56em;
$allout: 69em;

// Layouts
$susy: (
  columns: 4 2 2 4,
  gutters: .15,
  global-box-sizing: border-box,
  debug: ( // Uncomment these to render grid visualization:
    // image: show,
    color: rgba(#ff851b, .25),
    // output: overlay,
  )
);

// $susy: layout(inside-static show);

$g-scape: (
  columns: 6,
);

$g-tablet: (
  columns: 8,
);

body {
  @include container;
  @include clearfix;

  // @include breakpoint($scape) {
  //   @include container(6);
  // }

  @include susy-breakpoint($scape, $g-scape) {
    @include container;
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    @include container;
  }
}

main {
  margin: 0 auto;
  width: 97%;
  @include clearfix;
}
