.site-nav {
  @include break;

  @include susy-breakpoint($tablet, $g-tablet) {
    @include span(last 5 nobreak);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(last 7 nobreak);
  }
}

.site-nav__list {
  position: relative;
  margin-bottom: 1em;
  padding: 0 auto;
  border-top: solid 1px color('nav' ('shade': 5%));
  border-bottom: solid 4px color('nav' ('tint': 60%));
  font-weight: bold;
  font-size: modular-scale(-1);
  text-align: center;
  background: color('nav');
  @include clearfix;

  @include susy-breakpoint($scape, $g-scape) {
    text-align: right;
    font-size: modular-scale(0);
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    padding-right: 5%;
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    padding-right: 8%;
  }

  .link {
    position: static;
    display: inline-block;
    padding: .4em;

    @include susy-breakpoint($lapdesk, $g-lapdesk) {
      padding: .8em;
    }

    &.active {
      background: color('nav' ('tint': 40%));
    }

    &:hover {
      background: color('vulcan');

      & > a {
        color: color('nav');
      }

      & > .site-nav__mega {
        display: block;
      }

    }

    & > a {
      color: color('vulcan');
    }
  }
}

.site-nav__chevron {
  font-size: modular-scale(-1);
  color: color('aluminum');
}

.site-nav__mega {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100vw;
  height: auto;
  padding: 2em;
  text-align: left;
  color: color('alabaster');
  background: color('vulcan' ('transparentize': 0.02));

  @include susy-breakpoint($tablet, $g-tablet) {
    left: - span(4 of 8 wider);
    width: 92vw;
    background: color('vulcan' ('transparentize': 0.05));
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    left: - span(7 of 12 wider);
    width: 88vw;
  }
}

.site-nav__section {
  margin-bottom: 1em;

  @include susy-breakpoint($tablet, $g-tablet) {
    @include span(2 of 8);

    margin-bottom: 0;
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(2 of 12);
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.site-nav__section-title {
  display: block;
  color: color('alabaster');
  border-bottom: solid 1px color('medium-gray');
}

.site-nav__page {
  border-bottom: solid 1px color('vulcan' ('tint': 10%));

  @include susy-breakpoint($tablet, $g-tablet) {
    border-bottom: none;
  }
}

.site-nav__page-link {
  display: block;
  padding: .5em .2em;
  font-weight: normal;

  &:active,
  &:focus,
  &:hover {
    border-radius: 5px;
    background: color('alabaster');
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    padding: .3em .2em;
  }
}
