.site-nav {
  @include break;

  @include susy-breakpoint($tablet, $g-tablet) {
    @include span(last 5 nobreak);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(last 7 nobreak);
  }
}

.site-nav__list {
  margin-bottom: 1em;
  border-top: solid 1px color('nav' ('shade': 5%));
  border-bottom: solid 4px color('nav' ('tint': 60%));
  font-weight: bold;
  font-size: modular-scale(-1);
  text-align: center;
  background: color('nav');

  @include susy-breakpoint($scape, $g-scape) {
    text-align: right;
    font-size: modular-scale(0);
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    padding-right: 5%;
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    padding-right: 8%;
  }

  .link {
    display: inline-block;
    padding: .4em;

    @include susy-breakpoint($lapdesk, $g-lapdesk) {
      padding: .8em;
    }

    &:hover {
      background: color('nav' ('tint': 20%));
    }

    &.active {
      background: color('nav' ('tint': 40%));
    }

    a {
      color: color('vulcan');
    }
  }
}

/**********************************************
* Keeping these around for reference
* - if/when we can get nav tag snippet working
***********************************************/
// .site-nav-link {
//   display: inline-block;
//   padding: .4em 0;

//   // all but the first
//   & + li {
//     padding-left: 1em;
//   }

//   @include susy-breakpoint($tablet, $g-tablet) {
//     padding: .8em;
//   }
// }
