---
title: GIS at Mann
slug: gis-at-mann
position: 0
listed: true
published: true
is_layout: false
editable_elements:
  main/page_content: '<h2>GIS Help</h2><p>Mann Library offers walk-in help
    at the GIS Help Desk, located in the Consultation Area just outside Stone Classroom.
    We can help you get started on a project, help you find data, or refer you to
    other GIS experts on campus.</p><p>If
    the walk-in hours are not convenient for you, please request a one-on-one consultation to
    fit your schedule.</p><h2>Instruction</h2><ul><li>Workshops</li><li>Cornell
    Academic Courses</li></ul><h2>Software</h2><ul><li>Software:
    ArcGIS, QGIS, Manifold, CartoDB</li></ul><h2>Hardware</h2><ul><li>GPS
    Units [reusable content: GPS equipment availability]</li><li><a rel="nofollow"
    href="http://dev.mannlib.cornell.edu/use/print-copy-scan/scan">Scanners</a></li><li><a
    rel="nofollow" href="http://dev.mannlib.cornell.edu/use/print-copy-scan/poster-printing">Poster
    plotters</a></li></ul><h2>Data</h2><ul><li><a
    rel="nofollow" href="http://geolode.org/" title="Link: http://geolode.org/">Geolode.org</a> is
    a worldwide catalog of geospatial data sources compiled and maintained by staff
    at Cornell and other universities.</li></ul><h2>Other GIS
    Resources</h2><ul><li>[Future LibGuide]</li><li><a rel="nofollow"
    href="https://olinuris.library.cornell.edu/content/maps-geospatial-information">Olin
    Library Maps and Geospatial Information</a></li></ul><h2>GIS
    Day/Geospatial Forum</h2><p><a rel="nofollow" href="https://confluence.cornell.edu/display/cugeo">2014</a> <a
    rel="nofollow" href="https://confluence.cornell.edu/display/GIS/GIS+Day+2012">2012</a> <a
    rel="nofollow" href="https://confluence.cornell.edu/display/GIS/GIS+Day+2011"
    title="Link: https://confluence.cornell.edu/display/GIS/GIS+Day+2011">2011</a> <a
    rel="nofollow" href="https://confluence.cornell.edu/display/GIS/GIS+Day+2010"
    title="Link: https://confluence.cornell.edu/display/GIS/GIS+Day+2010">2010</a> <a
    rel="nofollow" href="https://confluence.cornell.edu/display/GIS/GIS+Day+2009"
    title="Link: https://confluence.cornell.edu/display/GIS/GIS+Day+2009">2009</a> <a
    rel="nofollow" href="http://mannlib.cornell.edu/research-help/gis/gis-day-2008"
    title="Link: http://mannlib.cornell.edu/research-help/gis/gis-day-2008">2008</a> <a
    rel="nofollow" href="http://mannlib.cornell.edu/research-help/gis/gis-day-2007"
    title="Link: http://mannlib.cornell.edu/research-help/gis/gis-day-2007">2007</a> <a
    rel="nofollow" href="http://mannlib.cornell.edu/research-help/gis/gis-day-2006"
    title="Link: http://mannlib.cornell.edu/research-help/gis/gis-day-2006">2006</a> <a
    rel="nofollow" href="http://mannlib.cornell.edu/research-help/gis/gis-day-2005"
    title="Link: http://mannlib.cornell.edu/research-help/gis/gis-day-2005">2005</a> <a
    rel="nofollow" href="http://mannlib.cornell.edu/research-help/gis/gis-day-2004">2004</a></p>'

---
{% extends parent %}

{% block 'main/accessory' %}
    {% include 'accessory-gis-consultation' %}
{% endblock %}
