---
title: Laptops
slug: laptops
handle: laptops
position: 3
listed: true
published: true
is_layout: false
editable_elements:
  main/page_content: "<p>Mann Library has a limited number
    of Dell laptops and Apple MacBooks available for <strong>4 hour loan</strong> from
    the Mann Library Circulation Desk (<a rel=\"nofollow\" href=\"http://www.smartmap.mannlib.cornell.edu/location/circulation%20services%20desk\"
    title=\"Circulation Desk location\" data-mce-href=\"http://www.smartmap.mannlib.cornell.edu/location/circulation%20services%20desk\">map
    it</a>) and are equipped with a variety of software packages.</p><p><strong>Please
    note: Laptops and laptop chargers are not renewable online.</strong></p><p>If laptops are not available, check out our other<a rel=\"nofollow\" href=\"http://dev.mannlib.cornell.edu/use/spaces/computing-facilities\">
    computing facility</a> options. If you are looking for a specific software
    application, please visit our software page to see which machines have that
    software available.</p><h3>Patron Responsibilities</h3><ul><li><strong>Once
    checked out, the laptop is your responsibility</strong> - do not leave the
    laptop unattended. If lost or damaged, you may be assessed a replacement
    cost equal to the cost of the computer ~$2500</li><li><strong>Laptops are </strong><strong>not
    to leave the library </strong>and can not be used in the lobby or cafe, or any
    area beyond the front gates.</li><li><strong>Late fee</strong> of $0.04 per
    minute per item late.</li></ul></div></div></div>"
---
{% extends parent %}

{% block 'main/accessory' %}

  <h3>Current Availability</h3>

  {% include 'availnow-computers-setup' %}

  <ul>
    {% include 'availnow-computers-li' with os: 'windows', available: winbook_avail %}
    {% include 'availnow-computers-li' with os: 'apple', available: macbook_avail %}
  </ul>

{% endblock %}
