[aria-hidden='true'] {
  display: none;
}

.landing-description,
.news-story,
.page-content,
.page-content--dynamic,
.space,
.space-finder__cards {
  a {
    text-decoration: underline;
  }
}

.skip-content {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;

  &:focus {
    position: static;
    margin-left: 1em;
    padding: 0 2em;
    width: auto;
    height: auto;
  }
}
