// Breakpoints
$mini: 30em;
$cramped: 43em;
$full: 56em;
$allout: 69em;

// Layouts
$susy: (
  gutters: .15,
  global-box-sizing: border-box,
  debug: ( // Uncomment these to render grid visualization:
    // image: show,
    color: rgba(#ff851b, .25),
    // output: overlay,
  )
);

// $susy: layout(inside-static show);

$mini-g: (
  columns: 6,
);

$cramped-g: (
  columns: 8,
);

body {
  @include container;
  @include clearfix;

  // @include breakpoint($mini) {
  //   @include container(6);
  // }

  @include susy-breakpoint($mini, $mini-g) {
    @include container;
  }

  @include susy-breakpoint($cramped, $cramped-g) {
    @include container;
  }
}

main {
  margin: 0 auto;
  width: 97%;
  @include clearfix;
}
