<table class="software-list__table ui yellow collapsing selectable unstackable definition celled striped table">
  <thead class="full-width">
    <tr>
      <th v-for="heading in softwareList[0]" class="center aligned">
        <a v-if="smartmapQuery($key)" href="http://smartmap.mannlib.cornell.edu/location/(( smartmapQuery($key) ))" title="Map it" target="_blank">(( $key ))</a>
        <span v-else>(( $key ))</span>
      </th>
    </tr>
  </thead>
  <tbody class="software-list__tbody">
    <tr v-for="software in softwareList">
      <td v-for="entry in software" class="center aligned"><span v-if="entry === 'X'" class="software-list__installed fa fa-check fa-lg"></span><span v-else="">(( entry ))</span></td>
    </tr>
  </tbody>
  <caption aria-hidden="true">Software availability on Mann Library computers</caption>
</table>
