<div class="course-reserves">
  <div class="course-reserves__form ui form">
    <div class="field">
      <label>Select a course:</label>

      <select class="course-reserves__courses js-course-reserves" v-model="selectedCourse">
        <option value="">---- Select a course ----</option>
        <option v-for="course in courses | orderBy 'displayCourseNumber'" value="(( course.id ))">(( course.displayCourseNumber )) (( course.courseName ))</option>
      </select>
    </div>
  </div>

  <div class="course-reserves__loader ui active inline loader"></div>

  <div class="course-reserves__items" v-if="itemsCourse">
    <h3 class="course-reserves__course-title">(( itemsCourse.displayCourseNumber )) (( itemsCourse.courseName ))</h3>
    <span class="course-reserves__instructor">Instructor: (( itemsCourse.instructor ))</span>

    <table class="course-reserves__table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Author</th>
          <th>Call Number</th>
          <th>Availability</th>
        </tr>
      </thead>
      <tbody>
        <tr is="reserve-item" v-for="item in items" :item="item" :index="$index"></tr>
      </tbody>
    </table>
  </div>
</div>
