<tr>
  <td>
    <strong>(( item.title ))</strong>
    <em class="course-reserves__article-title">(( item.articleTitle ))</em>
    <span v-if="item.pages" class="course-reserves__article-pages">pp. (( item.pages ))</span>
  </td>
  <td>(( item.author ))</td>
  <td>
    <em v-if="item.elsewhere" class="course-reserves__location--not-mann" >(( item.location ))</em>
    <span v-if="item.callnumber !== 'networked resource'">(( item.callnumber ))</span>
  </td>
  <td>
    <a v-if="item.online" href="https://canvas.cornell.edu" title="Sign in to Canvas to retrieve this electronic resource" target="_blank">(( item.dueDate ))</a>
    <span v-if="item.dueDate === 'Available'" class="badge badge-success">(( item.dueDate ))</span>
    <span v-if="item.checkedOut" class="badge badge-error">(( item.formattedDueDate ))</span>
    <span v-if="item.dueDate != NULL && item.dueDate != 'Available' && item.dueDate != 'Online'">(( item.dueDate ))</span>
    <template v-if="item.overdue && item.checkedOut">
      <span class="badge badge-danger">Overdue</span>
      <span class="course-reserves__overdue">(( item.formattedDueDate ))</span>
    </template>
  </td>
</tr>
