log/*

dragonfly.log

.sass-cache

deploy.yml

# npm
node_modules/*
npm-debug.log

# Bogus JS bundle (collateral damage from copy-webpack-plugin)
public/javascripts/main.bundle.js

# Compiled Styles
public/stylesheets/*
!public/stylesheets/.gitkeep
