log/*

dragonfly.log

.sass-cache

deploy.yml

# node packages
node_modules/*

# Compiled assets
public/javascripts/*
!public/javascripts/.gitkeep
public/stylesheets/*
!public/stylesheets/.gitkeep

# SPECIAL HANDLING FOR PAGES!!! -> app/views/pages/.gitignore

# Cached response for LibCal Hours API
cache/*
