log/*

dragonfly.log

.sass-cache

deploy.yml

# npm
node_modules/*
npm-debug.log

# Vendorized Sass
public/stylesheets/vendor/*
!public/stylesheets/vendor/.gitkeep

# Bitters scaffolding a la BEM
public/stylesheets/base/*
!public/stylesheets/base/.gitkeep
