.available-now {
  @include span(full);

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(6 break);
  }
}

.available-now__heading {
  @include span(3);

  @include susy-breakpoint($scape, $g-scape) {
    @include span(3);
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    @include span(3);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(4 of 6);
  }

  margin-bottom: .1em;
}

.available-now__datetime {
  color: color('amulet');
  font-size: modular-scale(-2);
  font-weight: normal;
}

.available-now__link {
  color: inherit;
}

.available-now__find-space {
  @include span(full);

  @include susy-breakpoint($scape, $g-scape) {
    @include span(2 of 3);
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    @include span(2 of 3);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(2 of 3);
  }

  margin-top: .7em;
}

.available-now__grp {
  margin-bottom: 1em;
}

.available-now__subheading {
  margin: .7em 0 .2em;
}

.available-now__study {
  @include span(2 at 3);

  @include susy-breakpoint($scape, $g-scape) {
    @include span(3 at 4);
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    @include span(3 at 6 break);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(3 at 4 of 6);
  }
}

.available-now__consultation {
  @include span(first 2);

  @include susy-breakpoint($scape, $g-scape) {
    @include span(3);
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    @include span(3);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(first 3 of 6);
  }
}

.available-now__computers {
  @include span(2);

  @include susy-breakpoint($scape, $g-scape) {
    @include span(3);
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    @include span(2);
    clear: none;
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(3 of 6);
    clear: left;
  }

  clear: left;
}

.available-now__os {
  color: color('font-base');
}

.available-now__status {
  clear: left;

  &--available {
    color: darken(color('success'), 50%);
  }

  &--unavailable {
    color: darken(color('error'), 50%);
  }
}

.available-now__floor {
  clear: left;
  margin: 1em 0 0;
  font-size: modular-scale(0);
}

.available-now__location {
  @include susy-breakpoint($allout, $g-allout) {
    font-size: modular-scale(0);
  }

  font-size: modular-scale(-1);
}

.available-now__badge--promote {
  float: left;
  clear: left;
}
