.booked-form {
  margin: 2em 2em 2em 2em;
}

.booked-form__compact {
  .ui.form & { // Override semantic-ui default for <select>
    @include susy-breakpoint($tablet, $g-tablet) {
      width: 70%;
    }
  }
}

.ui.modal>.close {
    top: 1.0535rem !important;;
    right: 1rem !important;;
    color: rgba(0,0,0,.87) !important;;
}
