// ID selector fails lint, but nothing I can do about it at this point
// -- hopefully we will soon be able to disable linters via source
// -- https://github.com/sasstools/sass-lint/pull/677
#datepicker { // sass-lint:disable-line no-ids
  margin-top: 1em;
}

.ui-datepicker-header {
  text-align: right;
}

.ui-datepicker-prev {
  &::before {
    content: '<<';
  }
}

.ui-datepicker-next {
  margin-left: 1em;

  &::after {
    content: '>>';
  }
}

.ui-datepicker-title {
  float: left;
  font-size: modular-scale(1);
  font-weight: 700;
}

.ui-datepicker-calendar {
  margin-top: 0;
}

.ui-state-active {
  background: color('action');
  padding: .2em;
  color: color('white');
}
