// Hide intro copy
.body-equipment .page-content {
  display: none;
}

.page-content--dynamic {
  .equipment {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "intro" "questions" "equipment" "info" "policy";
  }
  @media only screen and (min-width: 600px) {
    .equipment {
      display: grid;
      grid-template-columns: 1fr repeat(2, .5fr);
      grid-template-areas: "intro intro questions" "equipment info info " "equipment policy policy ";
    }
  }

  .equipment__intro {
    grid-area: intro;
    padding-right: 10px;
  }

  .equipment__questions {
    grid-area: questions;
    margin-bottom: 30px;
  }
  @media only screen and (min-width: 600px) {
    .equipment__questions {
      p {
        border-left: 1px solid gray;
        padding-left: 20px;
      }
    }
  }

  .equipment__type {
    grid-area: equipment;
    margin-bottom: 30px;

    span {
      display: inline-block;
      width: 130px;
      padding-bottom: 5px;
    }
    a {
      text-decoration: none;
    }
    button {
      width: 110px;
      display: inline-block;
      padding-right: 0;
      padding-left: 0;
      margin-right: 7px;
    }
  }
  @media only screen and (min-width: 600px) {
    .equipment__type {
      span {
        display: block;
        width: 100%;
      }
    }
  }
  @media only screen and (min-width: 839px) {
    .equipment__type {
      span {
        display: inline-block;
        width: 120px;
      }
    }
  }
  @media only screen and (min-width: 1183px) {
    .equipment__type {
      button {
        width: 170px;
        margin-right: 10px;
      }
    }
  }

  .equipment__reserve-info {
    grid-area: info;
    position: relative;
    border-radius: 0.4em;
    background-color: color('light-gray');
    padding: 20px;
    height: auto;
  }
  @media only screen and (min-width: 600px) {
    .equipment__reserve-info:after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 26px solid transparent;
      border-left: 0;
      border-bottom: 0;
      margin-top: -13px;
      margin-left: -15px;
      width: 15px;
      height: 30px;
      border-right: solid 15px color('light-gray');
      border-bottom: solid 15px transparent;
      border-top: solid 15px transparent;
    }
  }

  .equipment__policy {
    grid-area: policy;

    h4 {
      padding-top: 20px;
    }

    ul {
      padding-left: 30px;
      list-style-type: disc;
    }
  }
}
