.page-content--dynamic {
  .equipment {
    @include susy-breakpoint($tablet, $g-tablet) {
      grid-template-columns: 1fr repeat(2, .5fr);
      grid-template-areas: 'intro intro questions' 'equipment policy policy' 'equipment policy policy';
    }

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'intro' 'questions' 'equipment' 'policy';
  }

  .equipment__intro {
    padding-right: 10px;
    grid-area: intro;
  }

  .equipment__questions {
    @include susy-breakpoint($tablet, $g-tablet) {
      p {
        border-left: 1px solid color('alabaster');
        padding-left: 20px;
      }
    }

    margin-bottom: 30px;
    grid-area: questions;
  }

  .equipment__type {
    margin-bottom: 30px;
    grid-area: equipment;

    span {
      @include susy-breakpoint($lapdesk, $g-lapdesk) {
        width: 170px;
      }

      display: inline-block;
      padding-bottom: 5px;
      width: 130px;
    }

    a {
      text-decoration: none;
    }

    button {
      @include susy-breakpoint($scape, $g-scape) {
        width: 170px;
      }

      display: inline-block;
      padding-right: 0;
      padding-left: 0;
      width: 150px;
    }
  }

  .equipment__policy {
    grid-area: policy;

    h4 {
      padding-top: 20px;
    }

    ul {
      padding-left: 30px;
      list-style-type: disc;
    }
  }
}
