.events-home {
  @include span(full);

  @include susy-breakpoint($scape, $g-scape) {
    @include span(3);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(3);
  }
}

.workshops {
  @include susy-breakpoint($scape, $g-scape) {
    @include span(last 3);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(last 3);
  }
}

.events-home__heading-link {
  color: color('font-base');
}

.events-home__day {
  margin: 1.2em 0 .3em;

  &:first-of-type {
    margin-top: 0;
  }
}

.events-home__list {
  margin-bottom: 1em;
}

.events-home__event {
  margin-bottom: 1.2em;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.events-home__title {
  margin: 0;
  font-size: modular-scale(0);
}

.events-home__label {
  display: none;
}
