.events {
  @include susy-breakpoint($scape, $g-scape) {
    margin-top: 0;
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    @include span(5 nest);

    box-shadow: 1em 0 3em -2.3em color('black');
    padding-right: 2em;
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(8 nest);
  }

  @include break;
  @include span(full nest);

  margin-top: 1em;
}

.events__applied-filter {
  display: inline-block;
  margin-bottom: .5em;
}

.events__per-day {
  margin-top: 3em;
}

.events__date-heading {
  border-bottom: solid 3px color('light-gray');
  font-size: modular-scale(1);
}

.events__toggle-courses {
  @include susy-breakpoint($scape, $g-scape) {
    margin: .2em 0 0 3em;
  }

  float: left;
}

.events__toggle-courses-label {
  margin-bottom: 0;
  font-weight: normal;
}

.event {
  margin-top: 1.5em;
  border-bottom: solid 2px color('alabaster');
  padding-bottom: 1.5em;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.event__title {
  margin-bottom: 0;
  font-family: $base-font-family;
  font-weight: 700;
}

.event__details {
  margin-bottom: .5em;
  background: color('alabaster');
  padding: .3em 1em .3em .1em;
}

.event__type {
  margin-right: .5em;
}

.events-filters {
  @include susy-breakpoint($tablet, $g-tablet) {
    @include span(3);

    padding-left: 2.5em;
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(4);

    padding-left: 3.5em;
  }

  @include span(full nest);
}

.events-filters__clear-all {
  vertical-align: text-top;
}

.events-filters__heading {
  margin-top: 2em;
}

.events-filters__selected-date {
  margin-bottom: 2em;
}

.events-filters__selected-filter {
  color: $base-font-color;
  font-weight: 700;
}

.events-filters__type {
  &.ui.label { // Override semantic ui default
    margin: 2em 0 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

  font-family: $base-font-family;
}
