.landing {
  @include span(full nest);
}

.landing__section {
  @include span(full nest);

  @include susy-breakpoint($scape, $g-scape) {
    @include gallery(3 of 6 .75); // Increase gutters for breathing room btw images
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include gallery(3 of 12 .75); // Increase gutters for breathing room btw images
  }

  margin-top: 2em;
}

.landing__subpage {
  margin-bottom: .7em;
}

.landing__subpage-list {
  line-height: 1em;
}
