// sass-lint:disable class-name-format

// LibCal Hours - monthly widget

// Hide LibCal widget's default nav
.btn-sm {
  display: none;
}

.loc_1707 { // building
  background-color: color('monthly-building');
}

.loc_1709 { // lobby
  background-color: color('monthly-lobby');
}

.lc_today { // highlight today
  background-color: color('today');
}

.s-lc-allday,
.s-lc-closed,
.s-lc-time { // hours
  margin-left: .5em;
}

.s-lc-closed { // closed
  border-radius: .25em;
  background-color: color('closed' ('darken': 45%));
  padding: .1em .3em;
  color: color('white');
  font-weight: bold;
}

.s-lc-mhw-c { // container for table
  @include span(full nest);
}

.s-lc-mhw-cells { // make empty cells almost square
  height: 4em;
}

.s-lc-mhw-days {
  td { // day of week heading
    text-align: center;
    font-weight: bold;
  }
}

.s-lc-mhw-day-l { // day of month label
  padding: .5em .5em .25em 0;
  text-align: right;
  color: color('medium-gray');
}

.s-lc-mhw-header { // table heading for active month
  text-align: center;

  &-date {
    display: inline-block;
    margin: .1em 0;
    font-size: modular-scale(1);
  }
}

.s-lc-mhw-loc { // hours for location
  border-radius: .5em;
  line-height: 1em;
  font-size: modular-scale(-1);
}

.s-lc-mhw-loc-name,
.s-lc-mhw-name { // location name
  padding: .5em;
  font-weight: bold;
}

// Hide all sub locations except the lobby
.s-lc-mhw-sub-loc {
  display: none;

  &.loc_1709 {
    display: block;
    margin-top: .5em;
    padding-bottom: .5em;
    font-size: inherit;
  }
}

.s-lc-mhw-tb { // table setup
  @include susy-breakpoint($tablet, $g-tablet) {
    font-size: modular-scale(0);
  }

  border-collapse: collapse;
  border-spacing: 0;
  font-size: modular-scale(-1);

  th,
  td {
    border: 1px solid color('barely-gray');
    padding: 0;
    vertical-align: top;
  }

  thead {
    background-color: color('barely-gray');
  }
}
