.mann-form {
  @include susy-breakpoint($tablet, $g-tablet) {
    width: 70%;
  }

  margin: 2em 0 4em;
}

.mann-form__compact {
  .ui.form & { // sass-lint:disable-line force-element-nesting |Override semantic-ui default for <select>
    width: inherit;
  }
}

.mann-form__header {
  // sass-lint:disable-block force-element-nesting
  &.ui.header { // Override semantic-ui default
    margin-top: 3em;
    font-size: modular-scale(1);
  }

  &:first-of-type.ui.header {
    margin-top: 0;
  }
}

.mann-form__hint {
  display: block;
  color: color('soft-gray');
  font-weight: normal;
}

.radio-button__label {
  margin-bottom: 0;
  font-weight: normal;
}

.mann-form__minimal {
  .ui.form & input[type='text'] { // sass-lint:disable-line force-element-nesting force-attribute-nesting no-qualifying-elements |Override semantic-ui default for input width
    width: 8em;
  }
}
