.mann-brand {
  @include span(3);

  @include susy-breakpoint($scape, $g-scape) {
    @include span(4);
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    @include span(5 nest);

    margin: .7em 0 .8em;
    padding-left: 3%;
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(7 nest);

    padding-left: 7%;
  }

  margin: .3em 0 .5em;
}

.mann-brand__logo {
  // Nothing here b/c logo is dropped for mobile

  @include susy-breakpoint($tablet, $g-tablet) {
    float: left;
    margin-right: .7em;
    background-image: url('../images/cul-brand/mann-logo@2x.svg');
    background-size: cover;
    width: 100px;
    height: 100px;
  }
}

.mann-brand__one-lib {
  @include susy-breakpoint($tablet, $g-tablet) {
    padding: 1.2em 0 0 6.1em;
    font-size: 1.15em;
  }

  padding: .35em 0 0 .5em;
  line-height: .5em;
  color: color('soft-gray');
  font-family: $montserrat;
  font-size: .88em;
  font-weight: normal;
}

.mann-brand__mannlib {
  @include susy-breakpoint($tablet, $g-tablet) {
    font-size: 2.6em;
  }

  margin: .2em 0 0 .2em;
  line-height: .7em;
  color: color('mann-primary');
  font-family: p22-underground;
  font-size: 2em;
  font-weight: 600;
}
