.mann-form {
  @include susy-breakpoint($tablet, $g-tablet) {
    width: 70%;
  }

  margin: 2em 0 4em;
}

.mann-form__compact {
  .ui.form & { // Override semantic-ui default for <select>
    width: inherit;
  }
}

.mann-form__header {
  &.ui.header { // Override semantic-ui default
    margin-top: 3em;
    font-size: modular-scale(1);
  }

  &:first-of-type.ui.header {
    margin-top: 0;
  }
}

.radio-button__label {
  margin-bottom: 0;
  font-weight: normal;
}
