.meet-librarians {
  @include span(full);
}

.meet-librarians__all-experts {
  @include span(full);

  margin-top: 1em;
}

.meet-librarians__featured {
  @include susy-breakpoint($tablet, $g-tablet) {
    @include span(2);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(4);

    &:last-of-type {
      @include span(last 4);
    }
  }

  @include span(full);

  text-align: center;
}

.meet-librarians__name {
  margin-bottom: 0;
  font-size: modular-scale(2);
}

.meet-librarians__photo {
  border-radius: 50%;
}

.meet-librarians__profile-link {
  display: block;
  font-weight: 700;
}

.meet-librarians__request-consultation {
  margin: 1em 0 .5em;
  background: color('yellow-sea');
  font-size: modular-scale(-1);
}

.meet-librarians__subheading {
  margin-top: 1em;
}

.meet-librarians__title {
  color: color('aluminum');
}
