.news-latest__archive-heading {
  margin: 2em 0 .5em;
}

.news-latest__archive-story {
  margin-bottom: .5em;
}

.news-latest__date {
  &--archive {
    color: $base-font-color;
    font-family: $monospace-font-family;
    font-size: modular-scale(-1);
  }
}

.news-latest__facebook,
.news-latest__social,
.news-latest__soundcloud,
.news-latest__tumblr {
  @include susy-breakpoint($tablet, $g-tablet) {
    @include span(3 nest);

    padding-left: 2em;
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(4 nest);
  }

  @include span(full nest);

  margin-top: 3em;
}

.news-latest__item {
  @include span(full nest);

  margin-bottom: 2em;
}

.news-latest__img {
  float: left;
  margin-right: .5em;
}

.news-latest__social {
  @include susy-breakpoint($tablet, $g-tablet) {
    margin-top: 0;
  }
}

.news-latest__social-icon {
  color: color('aluminum');
}

.news-latest__stories {
  @include susy-breakpoint($tablet, $g-tablet) {
    @include span(5 nest);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(8 nest);
  }

  @include span(full nest);
}

.news-latest__story-title {
  margin-bottom: .2em;
}

// Target lists & headings authored via wysihtml (RTE)
.news-story {
  h3 {
    margin-top: 2em;
  }
  
  h4 {
    margin: 0;
    font-size: 1em;
  }

  ol,
  ul {
    margin: 0 0 .75em 1.1em;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }
}

.news-story__date {
  display: block;
  margin: -.7em 0 2em;
}

.news-story__image {
  @include susy-breakpoint($scape $allout, $g-scape) {
    width: span(3);
  }

  float: left;
  margin: 0 1em 1em 0;
  max-width: 400px;

  &.right {
    float: right;
    margin: 0 0 1em 1em;
  }
}

.news-story__image-caption {
  margin-top: .2em;
  line-height: 1.2em;
  color: color('medium-gray');
  font-style: italic;
}
