.quiet-study {
  @include span(full nest);

  @include susy-breakpoint($scape, $g-scape) {
    @include span(first 4 nest);

    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0;
    text-align: left;
  }

  margin-top: 2em;
  padding: 0 4em;
  text-align: center;
}

.quiet-study__details {
  @include susy-breakpoint($tablet, $g-tablet) {
    padding-top: 2em;
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    padding-top: 3em;
  }

  flex: 0 1 60%
}

.quiet-study__live-occupancy {
  @include susy-breakpoint($scape, $g-scape) {
    margin-top: 2em;
    font-size: 1em;
  }

  @include susy-breakpoint(max-width ($tablet - .05), $g-tablet) {
    .occupancy {
      margin-top: 0;
      font-size: .6em;
    }

    .remaining {
      font-size: .7em;
    }
  }

  .ui.button { // Override semantic ui default
    cursor: default;
  }

  flex-basis: 100%;
  margin-top: 3em;
}

.quiet-study__icon {
  flex: 0 1 40%
}

.quiet-study__reserve {
  &.ui.button { // sass-lint:disable-line force-element-nesting |Override semantic ui default
    margin-top: 1em;
    background-color: color('consultation');
    color: color('vulcan');

    &:hover {
      background-color: color('consultation' ('shade': 10%));
    }
  }
}
