.site-search {
  @include span(full);
}

.site-search__results {
  @include span(full);

  margin-top: 1.5em;
  padding-left: 1em;
  list-style-type: decimal;
}

.site-search__page-title {
  margin: 1em 0 0;
  font-family: $base-font-family;
  font-weight: 700;
}

.site-search__page-content {
  color: color('medium-gray');
}

.site-search__no-results {
  margin-top: 1.5em;
  text-align: left;
}
