.site-search {
  @include span(full nest);
}

.site-search__info {
  border-bottom: solid 1px color('barely-gray');
  padding: 1em 0;
  color: color('medium-gray');
  font-size: modular-scale(-1);
}

.site-search__page-title {
  margin: 1em 0 .1em;
  font-family: $base-font-family;
  font-size: modular-scale(0);
  font-weight: normal;

  a {
    text-decoration: underline;
    color: color('search-title');
  }
}

.site-search__pagination {
  @include span(full nest);

  margin-top: 2em;
  border-top: solid 1px color('barely-gray');
  padding-top: 1em;

  li {
    display: inline;
    border-left: solid 1px color('light-gray');
    padding: 0 .4em 0 .5em;

    &:first-of-type {
      border: 0;
      padding-left: 0;
    }
  }
}

.site-search__results {
  @include span(full nest);
}

.site-search__snippet {
  margin-bottom: -.2em;
  color: color('dark-gray');
  font-size: modular-scale(-1);
}

.site-search__url {
  color: color('search-url');
  font-size: modular-scale(-1);
}
