.space-finder {
  &.ui.three.doubling.cards { // Override semantic ui default
    @include susy-breakpoint(max-width $tablet) {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.space-finder__category {
  @include susy-breakpoint($tablet, $g-tablet) {
    font-size: modular-scale(1);
  }

  font-family: $base-font-family;
  font-size: modular-scale(0);
  font-weight: 700;
}

.space-finder__name {
  font-family: $base-font-family;
  font-weight: 700;
}

.space-finder__name-link {
  margin-bottom: 0;
  color: color('font-base');
}

.space-finder__study-spaces {
  border-radius: .5em;
  background: color('alabaster');
  padding: 0 1em 1em;
}

.space-finder__subheading {
  @include susy-breakpoint($tablet, $g-tablet) {
    margin: 2em 0 .5em;
  }

  margin: 2em 0 .5em;
  padding-top: .5em;
  font-family: $base-font-family;
  font-size: modular-scale(2);
  font-weight: 700;
}

.space-finder__cards {
  &~.ui { // Override semantic ui default
    margin-top: 0;
  }
}

.space-finder__quiet {
  display: block;
  padding-left: .25em;

  &:hover {
    cursor: pointer;
  }
}

.space-finder__reserve {
  &.ui { // Override semantic ui default
    margin-top: .2em;
    background: color('action');
    color: color('white');

    &:hover {
      background: color('action' ('shade': 5%));
    }
  }
}

.space-finder__checkout {
  display: block;
  margin-top: .2em;
  line-height: 1.3em;
}

.space-finder__availability {
  &--available {
    color: darken(color('success'), 50%);
  }

  &--unavailable {
    color: darken(color('error'), 50%);
  }
}

.space-finder__card-meta {
  .ui.cards>.card & { // Override semantic ui default
    display: block;
    color: color('medium-gray');
  }
}
