.space__availability {

  &--available {
    margin-top: 1em;
    color: darken(color('success'), 50%);
    font-size: modular-scale(1);
  }

  &--unavailable {
    color: darken(color('error'), 50%);
  }
}

.space__features {
  @include span(full);
  border: solid 1px color('light-gray');
}

.space__field-name {
  margin-top: .8em;
}

.space__photo {
  @include susy-breakpoint($tablet, $g-tablet) {
    float: right;
    margin-left: 1em;
    width: span(4 of 8);
  }
}

.space__rundown {
  clear: left;
  margin-top: 2em;
}

.space__reserve {
  float: left;

  &.ui {
    margin-right: 1em;
  }
}
