.staff-directory__table {
  @include susy-breakpoint($scape, $g-scape) {
    font-size: modular-scale(-1);
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    font-size: modular-scale(0);
  }

  line-height: modular-scale(0);
  font-size: modular-scale(-2);

  .staff-directory__position {
    display: block;
  }
}

.staff-directory__tbody {
  tr {
    &:nth-of-type(odd) {
      background: color('alabaster');
    }
  }

  td {
    border-bottom-color: color('barely-gray');
  }

}

.staff-directory__email-hint {
  color: color('medium-gray');
  font-size: modular-scale(-1);
}

.staff-directory__grid {
  .staff-directory__position {
    display: block;
    color: color('medium-gray');
    font-size: modular-scale(-1);
  }

  .staff-directory__division {
    font-size: modular-scale(-1);
  }

  .staff-directory__contact {
    margin-top: .3em;
    font-size: modular-scale(-1);
  }
}

.staff-directory__photo {
  &--placeholder {
    opacity: .5;
  }
}
