.staff-directory__book-consultation {
  &.ui.button { // sass-lint:disable-line force-element-nesting |Override semantic ui default
    margin-top: 1em;
    background-color: color('consultation');
    color: color('vulcan');

    &:hover {
      background-color: color('consultation' ('shade': 10%));
    }
  }
}

a {
  &.staff-directory__division {
    .ui.cards>.card>.extra & { // sass-lint:disable-line force-element-nesting |Override semantic ui default
      color: color('soft-gray');
    }
  }
}

.staff-directory__email-hint {
  color: color('medium-gray');
  font-size: modular-scale(-1);
}

.staff-directory__grid {
  .staff-directory__division {
    font-size: modular-scale(-1);
  }

  .staff-directory__contact {
    margin-top: .3em;
    font-size: modular-scale(-1);
  }
}

.staff-directory__photo {
  &--placeholder {
    opacity: .5;
  }
}

.staff-directory__position {
  display: block;
  color: color('medium-gray');
  font-size: modular-scale(-1);
}

.staff-directory__pronouns {
  .ui.card>&,
  .ui.cards>.card>& {
    font-size: modular-scale(-1);
  }

  display: block;
  margin-top: .5em;
  font-size: modular-scale(-1);
}

.staff-directory__table {
  @include susy-breakpoint($scape, $g-scape) {
    font-size: modular-scale(-1);
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    font-size: modular-scale(0);
  }

  line-height: modular-scale(0);
  font-size: modular-scale(-2);
}

.staff-directory__teams {
  margin-top: 3em;

  &.staff-table {
    margin-top: .5em
  }
}

.staff-directory__team {
  margin-bottom: .5em;

  &.staff-table {
    display: inline-block;
  }
}

.staff-directory__tbody {
  tr {
    &:nth-of-type(odd) {
      background: color('alabaster');
    }
  }

  td {
    border-bottom-color: color('barely-gray');
  }

}
