.teams-dress__heading {
  clear: left;
  margin-top: 1.5em;
  margin-bottom: 0;
}

.teams-dress__description {
  margin-top: .75em;
}

.teams-dress__member {
  display: inline-block;
  margin: 0 .5em .5em 0;
  text-align: center;
}

.teams-dress__members {
  margin-top: 1em;
}
