.todays-hours {
  @include susy-breakpoint($tablet, $g-tablet) {
    padding-left: $pad-content-tablet;
    font-size: modular-scale(0);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    display: inline-block;
    position: absolute;
    top: 100px;
    right: $pad-content-lapdesk;
    padding: 0;
  }

  @include break;

  padding: 0 0 .4em .5em;
  font-size: modular-scale(-1);
}

.todays-hours__label {
  font-size: modular-scale(-1);
}

.todays-hours__list {
  float: left;
}

.todays-hours__location {
  display: inline-block;
  margin-left: 1.5em;

  &:first-of-type {
    margin: 0;
  }
}

.todays-hours__more {
  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    display: block;
    margin-left: .3em;
  }

  margin-left: 2em;
  font-size: modular-scale(-1);
}

.todays-hours__now {
  font-weight: bold;

  &.is-open {
    @include badge(color('open'));
  }

  &.is-closed {
    @include badge(color('closed'));
  }
}

.todays-hours__until {
  font-size: modular-scale(-1);
}
