@import 'helpers/mixins';
@import 'config';

.beta-banner {
  &.ui.message { // Override semantic ui default
    @include susy-breakpoint($lapdesk, $g-lapdesk) {
      padding-left: 4.5em;
    }

    position: fixed;
    bottom: 0;
    z-index: 1000;
    margin-bottom: 0;
    padding: 2em;
    width: 100%;
  }
}

.beta-banner--engaged {
  padding-bottom: 10em;
}

.beta-banner__feedback-btn {
  &.ui.button { // Override semantic ui default
    @include susy-breakpoint($scape, $g-scape) {
      margin: 0 0 0 1em;
    }

    margin-top: 1em;
  }
}
