@import 'helpers/mixins';
@import 'config';

@import 'components/carousel';

.slick-slide {
  margin: 0 .15em;
}

.spotlights {
  @include span(full nest);
}

.spotlights__dots {
  & button:hover,
  & button:focus {
    background-color: transparent;
  }

  &.slick-dots { // Override slick.js default styling (slick-theme.css)
    bottom: -2.2em;

    & li button:before {
      font-size: 13px;
    }
  }
}
