---
title: Second Floor
slug: second
handle: second-floor
position: 2
listed: true
published: true
is_layout: false
editable_elements:
  main/page_content: <p><img title="mann-floorplan-second.png" alt="undefined" src="/samples/assets/mann-floorplan-second.png"><br></p>
  alert/alert_enabled?: 'false'
  alert/alert_body: ''
---
{% extends "layouts/basic-page" %}

{% block 'main/accessory' %}
  {% include 'nav-siblings' %}
{% endblock %}
