section {
  margin-top: 2em;
}

.lead-in {
  font-size: modular-scale(2);
}

.more-link {
  font-size: modular-scale(-1);
  font-weight: normal;
  color: color('amulet');

  &--footer {
    color: color('yellow-sea' ('desaturate': 25%));
  }
}

.course-reserves-link {
  font-size: modular-scale(-2);
  @include span(last 1);

  @include susy-breakpoint($tablet, $g-tablet) {
    margin-bottom: 1.4em;

    @include span(1 break);
  }
}
