.hours-weekly {
  font-size: modular-scale(-2);

  @include susy-breakpoint($scape, $g-scape) {
    font-size: modular-scale(-1);
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    font-size: modular-scale(0);
  }

  th,
  td {
    padding: .2em;

    @include breakpoint($lapdesk) {
      padding: .5em;
    }
  }

  th {
    line-height: modular-scale(0);
    color: $medium-gray;
  }

  .today {
    background: $cream;
  }
}

.day-of-week {
  display: block;
  color: $dark-gray;
}

.hours-exceptions {
  margin-top: .5em;
  font-size: modular-scale(-1);
  text-align: left;
}

.datetime-exceptions {
  margin: 0 0 1.3em 0;
  td {
    padding: .25em 0;
    text-align: left;
    border-bottom: none;
  }
}
