.hours-weekly {
  font-size: .7em;

  @include breakpoint($scape) {
    font-size: .8em;
  }

  @include breakpoint($tablet) {
    font-size: .9em;
  }

  @include breakpoint($lapdesk) {
    font-size: 1em;
  }

  th,
  td {
    padding: .2em;

    @include breakpoint($lapdesk) {
      padding: .5em;
    }
  }

  th {
    line-height: 1.2em;
    color: $medium-gray;
  }

  .today {
    background: $cream;
  }
}

.day-of-week {
  display: block;
  color: $dark-gray;
}

.hours-exceptions {
  margin-top: .5em;
  font-size: .9em;
  text-align: left;
}

.datetime-exceptions {
  margin: 0 0 1.3em 0;
  td {
    padding: .25em 0;
    text-align: left;
    border-bottom: none;
  }
}
