.hours-weekly {
  font-size: modular-scale(-2);
  line-height: modular-scale(0);

  @include susy-breakpoint($scape, $g-scape) {
    font-size: modular-scale(-1);
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    font-size: modular-scale(0);
  }

  tbody {
    tr {
      &:nth-of-type(odd) {
        background: color('alabaster');
      }
    }

    td {
      border-bottom-color: color('barely-gray');
    }
  }
}

.hours-weekly__data {
  padding: .5em .1em;

  @include susy-breakpoint($tablet, $g-tablet) {
    padding: .7em .3em;
  }
}

.hours-weekly__today {
  background: color('today-in-the-week');
}

.hours-weekly__month {
  padding-right: .5em;
  font-size: modular-scale(2);
  text-align: right;
}

.hours-weekly__day-of-week {
  color: color('light-gray' ('shade': 15%));
}

.hours-weekly__day-of-month {
  display: block;
  font-size: modular-scale(1);
}

.hours-weekly__location {
  text-align: right;
  background: color('white');
  border-right: solid 1px color('dark-gray');
  border-bottom: none;

  @include susy-breakpoint($scape, $g-scape) {
    padding-right: .5em;
    font-weight: 700;
  }
}

.hours-weekly__exception {
  margin-top: .3em;
}

.hours-weekly__category {
  padding-top: 3em;
  font-size: modular-scale(1);
  background: color('white');
}
