<iframe src="https://api3.libcal.com/embed_mini_calendar.php?mode=month&iid=973&cal_id=4102&l=5&tar=0&h=450&c=2381&z=" style="border-width:0" width="100%" height="300" frameborder="0" scrolling="no"></iframe>

<a class="" href="http://spaces.library.cornell.edu/calendar/CULworkshops/?cid=4102&t=d&d=0000-00-00&cal%5B%5D=4102" target="_blank">
  All Library Workshops
  <i class="fa fa-angle-double-right"></i>
</a>
