<!--  Libcal MyScheduler Widget-->
{{ '//api3.libcal.com/js/myscheduler.js?002' | javascript_tag }}

<script>
jQuery(function(){
   jQuery("#mySched3659").LibCalMySched({ iid: 973, uid: 3659, gid: 0,  width: 500, height: 450 });
});
</script>

<button id="mySched3659" class="ui orange button" href="#">Request Consultation</button>
