{% include 'availnow-computers-setup' %}

<h5 class="available-now__subheading"><a class="available-now__link" href="{% path_to desktops %}" title="More details about desktop computers at Mann">Desktops</a></h5>

<ul>
  {% include 'availnow-computers-li' with type: 'desktops', os: 'windows', available: windows_avail %}
  {% include 'availnow-computers-li' with type: 'desktops', os: 'apple', available: macs_avail %}
</ul>

<h5 class="available-now__subheading"><a class="available-now__link" href="{% path_to laptops %}" title="More details about laptop computers at Mann">Laptops</a></h5>

<ul>
  {% include 'availnow-computers-li' with type: 'laptops', os: 'windows', available: winbook_avail %}
  {% include 'availnow-computers-li' with type: 'laptops', os: 'apple', available: macbook_avail %}
</ul>
