  <h5 class="available-now__subheading">Study Spaces</h5>

  {% comment %}This trick to get BSON ID for study entry of spaces_types courtesy of Didier via Gitter convo{% endcomment %}
  {% with_scope _slug: 'study' %}{% assign study_space_type = contents.spaces_types.first %}{% endwith_scope %}

  <ul>
    {% comment %}Use with_scope to filter on study spaces{% endcomment %}
    {% with_scope spaces_types: study_space_type %}
      {% for space in contents.spaces %}
        {% if space.reservation_system or space.loan_period %}
          {% comment %}@TODO: Add availability logic...until then, everything is always available...hooray!{% endcomment %}
          <li class="available-now__status--available">
            <a class="available-now__link" href="{% path_to space %}">
              <i class="fa fa-fw fa-check-square"></i> {{ space.name }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endwith_scope %}
  </ul>

  <a href="{% path_to spaces %}">
    <button class="available-now__find-space">Find a Space</button>
  </a>
