{% comment %} Render banner only when site is served by Engine {% endcomment %}
{% unless wagon %}
  <div class="beta-banner ui big info message">
    <i class="js-beta-banner-close close icon"></i>
    <h3>Hi. Thanks for stopping by. <a class="beta-banner__feedback-btn ui blue button" href="/site-feedback" title="We'd love to hear from you"><strong>Tell us what you think</strong></a></h3>

    <p>This beta site officially launches the week of October 24th, but don't let that stop you from exploring.</p>
  </div>

  {{ 'betaBanner.bundle.js' | javascript_tag }}
{% endunless %}
