<script>
  function modal(){
    $( "#booked-modal" ).dialog({
      height: 450,
      width: 500,
      modal: true,
      resizable: false,
      show: 'fade',
      hide: 'fade',
    });
    $("#ui-dialog-title-dialog").hide();
    $(".ui-dialog-titlebar").removeClass('ui-widget-header');
    return false;
  }
</script>

<div id="booked-modal" title="Room Reservation" hidden>
  <p>The Reservation form for this room isn't available yet.</p>
  <p>Thank you.</p>
</div>

<style>
.ui-dialog .ui-dialog-content {
  background: #fff;
 }
 .ui-button:focus { outline:none !important }
</style>
