<div class="js-sui-modal ui modal">
  <div class="header">
    Reserve this room
  </div>
  <!-- <div class="content">
    <div class="description">
      <p>The reservation form for this room isn't available yet.</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button">
      Thanks
      <i class="fa fa-check icon"></i>
    </div>
  </div> -->

<div id="reservation-form">
  <reservation booked-username = "{{site.metafields.sensitive_data.booked_username}}", booked-password = "{{site.metafields.sensitive_data.booked_password}}"></reservation>
</div>
</div>
{{ 'bookedReservation.bundle.js' | javascript_tag }}
