<nav class="breadcrumbs">
  {% for crumb in page.breadcrumbs %}
    {% unless forloop.last %}
      {% link_to crumb.handle %} →
    {% else %}
      {{ crumb.title }}
    {% endunless %}
  {% endfor %}
</nav>
