{% comment %} Smoke & mirrors to remove 'divisions' from hierarchy {% endcomment %}
{% assign ultima_depth = 1 %}
{% if page.fullpath contains '/divisions/' %}
  {% assign ultima_depth = 2 %}
{% endif %}

{% comment %} Breadcrumbs and page title for all but home page {% endcomment %}
{% unless page.depth == 0 %}
  <nav class="breadcrumbs" aria-label="Navigate site hierarchy via breadcrumbs">
    {% for crumb in page.breadcrumbs %}
      {% comment %} No breadcrumb for current page, only ancestors -- avoid title duplication {% endcomment %}
      {% unless forloop.last or crumb.slug == 'divisions' %}
        {% link_to crumb %}
        {% comment %} Don't render the arrow after the parent {% endcomment %}
        {% if forloop.rindex0 > ultima_depth %}
          <span class="fa fa-long-arrow-right"></span>
        {% endif %}
      {% endunless %}
    {% endfor %}
  </nav>

  <h2 class="page-content__title">{{ page.title }}</h2>
{% endunless %}
