<div class="page-content--accessory">
  {% include 'nav-projects' %}
</div>

<div class="page-content">
  {% if project.url.size > 0 %}
    <a class="projects__url ui purple label" href="{{ project.url }}" title="Visit the {{ project.title}} website" target="_blank">
      <i class="browser icon"></i> Visit project website
    </a>
  {% endif %}

  {{ project.description }}
</div>
