<p>Please ensure you follow these guidelines when submitting your ad for display in the Mann Library lobby.</p>

<section class="lobby-kiosk__category">
  <h4>Content</h4>

  <div class="lobby-kiosk__list lobby-kiosk__list--nice">
    <span class="lobby-kiosk__icon big icon checkmark"></span>
    <ul>
      <li>Educational accomplishments, opportunities, events</li>
      <li>Priority given to CALS &amp; CHE</li>
    </ul>
  </div>

  <div class="lobby-kiosk__list lobby-kiosk__list--naughty">
    <span class="lobby-kiosk__icon big icon ban"></span>
    <ul>
      <li>For sale/rent</li>
      <li>Non-academic events (i.e. athletics, social)</li>
    </ul>
  </div>
</section>

<section class="lobby-kiosk__category">
  <h4>Design</h4>

  <div class="lobby-kiosk__list lobby-kiosk__list--nice">
    <span class="lobby-kiosk__icon big icon checkmark"></span>
    <ul>
      <li>Minimal text with a striking image</li>
      <li>Include date, time and contact information</li>
    </ul>
  </div>

  <div class="lobby-kiosk__list lobby-kiosk__list--naughty">
    <span class="lobby-kiosk__icon big icon ban"></span>
    <ul>
      <li>Text or image heavy</li>
      <li>Missing pertinent information</li>
    </ul>
  </div>
</section>

<section class="lobby-kiosk__category">
  <h4>Format</h4>

  <div class="lobby-kiosk__list lobby-kiosk__list--nice">
    <span class="lobby-kiosk__icon big icon checkmark"></span>
    <ul>
      <li>JPG: 1920px wide by 1080px high, 1MB max file size</li>
      <li><strong>Powerpoint users: export as JPG!</strong></li>
    </ul>
  </div>

  <div class="lobby-kiosk__list lobby-kiosk__list--naughty">
    <span class="lobby-kiosk__icon big icon ban"></span>
    <ul>
      <li>Any file format besides JPG at 1920px by 1080px</li>
      <li>File size exceeds 1MB</li>
    </ul>
  </div>
</section>

<a class="ui blue button" href="mailto:mann-lcd-l@cornell.edu?subject=Mann%20Lobby%20Kiosk%20submission&body=Start%20Date:%0D%0AEnd%20Date:%0D%0A%0D%0ADon%27t%20forget%20to%20attach%20your%20image!%0D%0A%0D%0A" title="Send your ad via email">Submit your ad for review</a>
