{% comment %} Build the request string {% endcomment %}
{% assign softwarelist_url = 'https://raw.githubusercontent.com/cul-it/mann-softwarelist-csv/master/softwarelist.csv' %}

<div class="software-list">
  {% consume mann_software from softwarelist_url, expires_in: 3600 %}

    {% comment %}
      You won't believe the nonsense involved to get the multiline string ready to pass to JS
      -- whitespace issues have finally been addressed in Liquid, but Locomotive hasn't updated their fork
         -- I've already submitted an issue for this: https://github.com/locomotivecms/steam/issues/76
      -- so thankful for the following threads:
         http://stackoverflow.com/questions/27694610/how-can-i-split-a-string-by-newline-in-shopify#27696228
         https://github.com/Shopify/liquid/issues/216#issuecomment-224694389
         http://stackoverflow.com/questions/17754312/how-to-suppress-blank-line-in-jekyll/24504473#24504473
    {% endcomment %}
    {% assign mann_software_cleanup = mann_software | newline_to_br | strip_newlines | split: '<br />' %}

    {% capture strip_each_entry %}
      {% for entry in mann_software_cleanup %}{{ entry | strip }}\n{% endfor %}
    {% endcapture %}

    {% assign mann_software_clean_really = strip_each_entry | strip %}

    {% comment %} Pass the string to Vue {% endcomment %}
    <script type="text/javascript">
      var softwareCsvString = '{{ mann_software_clean_really }}';
    </script>
  {% endconsume %}

  {% comment %} Vue.js component FTW {% endcomment %}
  <software-list></software-list>
</div>

{{ 'softwareList.bundle.js' | javascript_tag }}
