{% comment %}
  Use Locomotive Actions API to fetch data from LibCal
  -- https://locomotive-v3.readme.io/v3.3/docs/external-api
{% endcomment %}

{% action "Fetch equipment categories from LibCal" %}
  const sensitiveData = getProp('site').metafields.sensitive_data
  const clientId = sensitiveData.libcal_client_id
  const clientSecret = sensitiveData.libcal_client_secret
  const apiBaseUrl = 'https://api2.libcal.com/1.1/'
  var libcalAuth = false
  var equipTypes = false

  if (clientId && clientSecret) {
    // Need to obtain access token first
    libcalAuth = callAPI('POST', apiBaseUrl + 'oauth/token', {
      data: {
        client_id:     clientId,
        client_secret: clientSecret,
        grant_type:    'client_credentials'
      }
    })

    // Now use access token to authenticate
    if (libcalAuth) {
      const token = 'Bearer ' + JSON.parse(libcalAuth.data).access_token

      // Fetch all equipment categories for Mann location
      equipTypes = callAPI('GET', apiBaseUrl + 'equipment/categories/96', {
        headers: {
          authorization: token
        }
      })

      // Sort categories by name
      var categories = equipTypes.data[0].categories.sort(function(a,b) {
        return a.name.localeCompare(b.name)
      })

      // Create an array of category IDs
      var catIds = categories.map(function(c) {
        return c.cid
      })

      // Fetch all items per category (will use an item ID to provide direct reservation link)
      catIds.forEach(function(c, i) {
        var equipment = callAPI('GET', apiBaseUrl + 'equipment/category/' + c, {
          headers: {
            authorization: token
          }
        })

        categories[i].equip = equipment.data[0].items
      })
    }

    setProp('libcal_equip', categories)
  }
{% endaction %}

{% unless libcal_equip %}
  <div class="ui warning message">
    <div class="header">
      Well, this is embarassing
    </div>

    <p>We are unable to retrieve the reservable equipment data and apologize for this inconvenience.</p>
    <p>You can try refreshing the page, but if the issue persists, please take a moment to <a href="{% path_to site-feedback %}" title="Report this error">report this error</a>.</p>
  </div>
{% endunless %}
