{% assign equip_types = 'Audio Recorder, DSLR Camera, GPS Unit, iPhone Mic, Microphone, Projector, Thermal Imager, Tripod, Videocamera' | split: ', ' %}

<div class="equipment">

  <div class="equipment__intro">
    <p>Mann Library has a variety of equipment available for check-out from the 1st floor Circulation Desk. If what you are looking for is unavailable at Mann please look at the availability of <a target="_blank" href="https://olinuris.library.cornell.edu/services/equipment/loans" title="Link: https://olinuris.library.cornell.edu/services/equipment/loans">equipment at other libraries</a>.</p>
  </div>

  <div class="equipment__questions">
    <p><strong>Questions?</strong> Please contact the Circulation Desk at <a href="tel:607-255-3296">255-3296</a>
    </p>
  </div>

  <div class="equipment__type">
    <ul>
      {% for type in equip_types %}
        <li>
          <p><span>{{ type }}</span>
            <a href="#" title="">
              <button class="">Pick up Now</button>
            </a>
            <a href="#" title="">
              <button class="">Reserve</button>
            </a>
          </p>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="equipment__reserve-info">
    <h3>Should I make a reservation?</h3>

    <p>The same borrowing policies apply for both the reservable and first come, first served equipment. The main difference is you can come to the circ desk to pick up any available equipment on the spot, without first reserving it online. If, however, you need a piece of equipment on a specific date, then we would encourage you to make a reservation.
      <p>
  </div>

  <div class="equipment__policy">
    <h4>Policies</h4>

    <ul>
      <li>Loanable for up to 3 days.</li>
      <li>Cornell students, faculty, and staff with a valid Cornell ID can checkout</li>
      <li>NY State Privilege cards, CU Library cards, spousal cards, or proxy users. "On Leave" or "in absentia" status students are not eligible to check out</li>
      <li>Patrons are responsible for returning all items on time and in good condition to the Mann Library Circulation Desk during operating hours.</li>
      <li>Overdue fines are $1.00/minute.</li>
      <li><strong>Please note: Equipment is not renewable.</strong>
      </li>
    </ul>
  </div>

</div>
