<table class="equipment-list__table ui yellow selectable collapsing unstackable table">
  <thead>
    <tr>
      <th rowspan="2">Item</th>
      <th rowspan="2">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{ equipment_type }}
    </tr>
  </tbody>
</table>

{{ 'http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js' | javascript_tag }}
{{ 'equipment.bundle.js' | javascript_tag }}
