<table class="equipment-type-list__table ui yellow selectable unstackable very compact small table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2"><div class="ui large teal ribbon label">{{ equipment_type_1_title}}</div></td>
    </tr>
    <tr>
      {{ equipment_type_1 }}
    </tr>
  </tbody>
</table>
