{% include 'equipment-fetch-libcal' %}

<div class="equipment">
  <div class="equipment__intro">
    <p>Mann Library has a variety of equipment available for check-out from the 1st floor Circulation Desk. If what you are looking for is unavailable at Mann please look at the availability of <a target="_blank" href="https://olinuris.library.cornell.edu/services/equipment/loans" title="Link: https://olinuris.library.cornell.edu/services/equipment/loans">equipment at other libraries</a>.</p>
  </div>

  <div class="equipment__questions">
    <p><strong>Questions?</strong> Please contact the Circulation Desk at <a href="tel:607-255-3296">255-3296</a>
    </p>
  </div>

  <div class="equipment__type">
    <ul>
      {% comment %} Generate equipment category list via LibCal API {% endcomment %}
      {% for type in libcal_equip %}
        {% assign equip_id = type.equip.first | ceil %}
        {% assign libcal_url = 'https://spaces.library.cornell.edu/equipment/item/' | append: equip_id  %}

        {% comment %} Only render categories with at least one active piece of equipment {% endcomment %}
        {% unless equip_id == 0 %}
          <li>
            <p><span>{{ type.name }}</span>
              <a href="{{ libcal_url }}" title="Reserve your {{ type.name | downcase }}" target="_blank">
                <button>Reserve</button>
              </a>
            </p>
          </li>
        {% endunless %}
      {% endfor %}
    </ul>
  </div>

  <div class="equipment__policy">
    <h4>Policies</h4>

    <ul>
      <li>Loan period varies. Please review limits presented during reservation process.</li>
      <li><strong>Eligible:</strong> Cornell students, faculty, and staff with a valid Cornell ID</li>
      <li><strong>Not Eligible:</strong> NY State Privilege cards, CU Library cards, spousal cards, proxy users, "on leave" or "in absentia" status students</li>
      <li>Patrons are responsible for returning all items on time and in good condition to the Mann Library Circulation Desk during <a href="{% path_to hours %}" title="Mann Library Hours">operating hours</a></li>
      <li><strong>Overdue fines:</strong> $1.00/minute</li>
      <li><strong>Equipment is not renewable</strong>
      </li>
    </ul>
  </div>
</div>
