{% if college %}
  {% assign name = college | append: ' Departments' %}
{% endif %}

<h4 class="title">
  <span class="dropdown icon"></span>
  {{ name }}
</h4>

<ul class="all-experts__filter-list content">
  {% if college %}
    {% comment %} Build array of colleges that includes option for 'Both' {% endcomment %}
    {% assign colleges = college | append: ', Both' | split: ', '%}
    {% include 'experts-filter-list' with type: filter_type, collection: contents.departments, colleges: colleges, multi: true %}
  {% else %}
    {% assign filter_type = name | downcase %}
    {% include 'experts-filter-list' with type: filter_type , collection: array, colleges: nil %}
  {% endif %}
</ul>
