{% for item in collection %}
  {% if multi %}
    {% assign filter_value = item.name %}
  {% else %}
    {% assign filter_value = item %}
  {% endif %}
  <li class="all-experts__filter"><a class="js-filter-{{ type }}" href="#" data-{{ type }}="{{ filter_value }}">{{ filter_value }}</a></li>
{% endfor %}
