<h4 class="title">
  <i class="dropdown icon"></i>
  {{ college }} Departments
</h4>

<ul class="all-experts__dept-list content">
  {% with_scope college: college %}
    {% for dept in contents.departments %}
      <li class="all-experts__dept"><a class="js-filter-dept" href="#" data-dept="{{ dept.name }}">{{ dept.name }}</a></li>
    {% endfor %}
  {% endwith_scope %}
</ul>
