%footer
  .about-us.footer-panel
    %h5 About Us

    %p
      Supporting learning and research in the life sciences, agriculture, human ecology and applied social sciences. <a href="#">More <i class="fa fa-angle-double-right"></i></a>

    / <%= image_tag "floor-map-tn.png", class:"img-responsive img-left img-faded" %>
    %h6 Floor Plans

    %ul
      %li <a href="#">Basement</a>
      %li <a href="#">1st</a>
      %li <a href="#">2nd</a>
      %li <a href="#">3rd</a>

    %p
      <a href="#">Organization &amp; Staff</a> | <a href="#">Employment</a>

    %p © 1996 - 2015 Cornell University

  .featured-plus-haiku.footer-panel
    %h5 Featured Projects

    %ul
      %li TEEAL
      %li VIVO
      %li NYCCSC
      %li EarthCube

    %p
      <a href="#">More Projects <i class="fa fa-angle-double-right"></i></a>

    %h5 Daily Haiku

    %p
      low tide<br>
      the mooring rope<br>
      taunt with moonlight

    %p
      <a href="#">Daily Haiku Page <i class="fa fa-angle-double-right"></i></a>

    .social-media
      %i.fa.fa-facebook-square.fa-3x
      %i.fa.fa-tumblr-square.fa-3x
      %i.fa.fa-flickr.fa-3x

  .contact-us.footer-panel
    %h5 Contact Us

    %ul
      %li
        %i.fa-li.fa.fa-question-circle
        %a{href: "#"} Ask a Librarian
      %li
        %i.fa-li.fa.fa-envelope
        Email Us
        %a{href: "mailto:mann_circ@cornell.edu"} mann_circ@cornell.edu
      %li
        %i.fa-li.fa.fa-mobile
        Call Us 607-255-3296
      %li
        %i.fa-li.fa.fa-comments
        Chat with a Librarian
      %li
        %i.fa-li.fa.fa-map-marker
        Visit Us<br>
        Mann Library<br>
        237 Mann Drive<br>
        Cornell University<br>
        Ithaca, NY <br>
        %a{href: "#"} Get Directions
        %a{href: "#"} Map It

      %li
        %i.fa-li.fa.fa-user
        Request a Consultation
      %li
        %i.fa-li.fa.fa-book
        </span>Request a Purchase
      %li
        %i.fa-li.fa.fa-comment
        </span>Send Feedback
