%header
  .cu-banner
    %a.cu-banner__insignia.link--no-color{title: "Cornell.edu Homepage", href: "http://cornell.edu"}
      %span.cu-banner__uni-name.link--no-color Cornell University

  .mann-brand{href: "/"}
    %a.mann-brand__logo{title: "Home", href: "/"}

    %h2.mann-brand__one-lib
      %a.link--no-color{title: "Cornell University Library", href: "http://library.cornell.edu"} Cornell University Library
    %h1.mann-brand__mannlib
      %a.link--no-color{title: "Home", href: "/"} {{ site.seo_title | upcase }}

  %form.search{role: "search", action: "{% path_to search %}"}
    .ui.left.icon.fluid.input
      %i.search.icon.search__icon
      %input.search__term{type: "text", name: "q", placeholder: "Search"}
      %button.search__button{type: "button"}

  .todays-hours
    %ul
      %li.todays-hours__mann
        %a.todays-hours__link{href: "{% path_to hours %}"}
          %span{ class: "badge todays-hours__now {% if mannlib_hours.status_1707 == 'Open' %}is-open{% else %}is-closed{% endif %}" } {{ mannlib_hours.status_1707 }}

        %span.todays-hours__until {{ mannlib_hours.hours_1707 }}
      %li.todays-hours__lobby
        Lobby: {{ mannlib_hours.status_1709 }} {{ mannlib_hours.hours_1709 }}

    %a.todays-hours__more{href: "{% path_to hours %}"}
      All Hours
      %i.fa.fa-angle-double-right

  %nav.site-nav{role: "navigation"}
    %ul.site-nav__list
      {% nav site, no_wrapper: true, active_class: active, snippet: primary-nav %}
