<div class="landing">
  {% for child in page.children  %}
    {% if child.listed? %}
      <div class="landing__section">
        {% comment %} @todo: Editable file not yet added to primary-landing layout {% endcomment %}
        <img src="{{ child.editable_elements.section-photo | default: 'placeholder.jpg' | theme_image_url }}" alt="Section photo">

        <h4 class="landing__section-heading">{{ child.title }}</h4>

        <ul>
          {% for grandchild in child.children %}
            {% if grandchild.listed? %}
              <li><a href="{% path_to grandchild %}">{{ grandchild.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endfor %}
</div>
