{% comment %} Snippet that builds array of sub-pages for spaces {% endcomment %}
{% include 'spaces-subnav' %}

<div class="landing">
  {% for child in page.children %}
    {% if child.listed? and child.published? %}
      <div class="landing__section">
        <img class="ui rounded image" alt="section photo" src="{{ '/samples/placeholder.jpg' | resize: '400x400#' }}">

        {% include 'nav-builder' with component: 'landing' %}
      </div>
    {% endif %}
  {% endfor %}
</div>
