<nav>
  <h4 class="parent-section">
    {% if page.depth >= 2 %}
      {{ page.parent.title }}
    {% else %}
      {{ page.title }}
    {% endif %}
  </h4>

  <ul>
    {% for project in contents.projects %}
      <li><a href="{% path_to project %}">{{ project.title }}</a></li>
    {% endfor %}
  </ul>
</nav>
