{% assign this_year = story.date | date: '%Y' %}

<li class="news-latest__archive-story">
  {% if full_archive %}
    {% if forloop.first or this_year != prev_year %}
      <h5 class="news-latest__archive-heading">{{ this_year }}</h5>
    {% endif %}
  {% endif %}

  <a href="{% path_to story %}" title="View full story">
    <span class="news-latest__date--archive">{{ story.date | date: '%a %b %d, %Y' }} - </span>
    {{ story.title }}
  </a>
</li>

{% assign prev_year = this_year %}
