<div class="page-content">
  {% editable_model projects, hint: 'Manage all projects' %}
    {% for project in contents.projects %}
      <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>

      <p>{{ project.description }}</p>
    {% endfor %}
  {% endeditable_model %}
</div>
