{% comment %} Ensure that at least one of the child pages are listed {% endcomment %}
{% assign listed_children = false %}
{% for child in page.children %}
  {% if child.listed? and child.published? %}
    {% assign listed_children = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% if listed_children %}
  <nav class="section-nav" aria-label="Section navigation">
    <h4 class="section-nav__heading">{{ page.title }}</h4>

    <ul class="section-nav__pages">
      {% nav page, no_wrapper: true, active_class: active, snippet: nav-section-builder %}
    </ul>
  </nav>
{% endif %}
