{% comment %} No analytics is serving site by Wagon {% endcomment %}
{% unless wagon %}
  {% assign prod = false %}
  {% if base_url contains 'mannlib.cornell.edu' %}
    {% assign prod = true %}
  {% endif %}

  {% comment %} Analytics for production only {% endcomment %}
  {% if prod %}
    {% if site.metafields.site_analytics.google_analytics_tracking_identifier %}
      {% google_analytics site.metafields.site_analytics.google_analytics_tracking_identifier %}
    {% endif %}

    {% if site.metafields.site_analytics.piwik_analytics_site_identifier %}
      <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setDomains", ["*.{{ site.domains | first }}"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="//webanalytics.library.cornell.edu/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', {{ site.metafields.site_analytics.piwik_analytics_site_identifier }}]);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
      </script>
      <noscript><p><img src="//webanalytics.library.cornell.edu/piwik.php?idsite={{ site.metafields.site_analytics.piwik_analytics_site_identifier }}" style="border:0;" alt="" /></p></noscript>
    {% endif %}
  {% endif %}
{% endunless %}
