<script>
  (function() {
    var cx = '011750347022098688652:d8scr3yyrsy';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>

<div class="site-search">
  <form class="site-search__trigger" action="{{ path }}">
    <input type="text" name="q" value="{{ params.q }}">
  </form>

  <div class="site-search__results">
    <gcse:searchresults-only linkTarget="_self"></gcse:searchresults-only>
  </div>
</div>
