<li>
  <a class="footer__social-icon" href="http://facebook.com/mannlibrary" target="_blank" title="Albert R. Mann Library on Facebook">
    <i class="fa fa-facebook-square fa-2x"></i>
  </a>
</li>
<li>
  <a class="footer__social-icon" href="http://mannlibrary.tumblr.com" target="_blank" title="Albert R. Mann Library on Tumblr">
    <i class="fa fa-tumblr-square fa-2x"></i>
  </a>
</li>
<li>
  <a class="footer__social-icon" href="https://www.instagram.com/mannlibrary" target="_blank" title="Albert R. Mann Library on Instagram">
    <i class="fa fa-instagram fa-2x"></i>
  </a>
</li>
<li>
  <a class="footer__social-icon" href="https://www.flickr.com/photos/mann_library" target="_blank" title="Albert R. Mann Library on Flickr">
    <i class="fa fa-flickr fa-2x"></i>
  </a>
</li>
