<div class="space__lobby-kiosk">
  <h4 class="space__lobby-kiosk-heading">
    <span class="tv icon"></span>
    Advertise your event in our lobby!
  </h4>

  <p>
    <a class="space__lobby-kiosk-btn ui tiny blue button" href="{% path_to lobby-kiosk %}">
    Submit your ad</a> The lobby kiosk is available to help Cornell community members promote educational events and services.
  <p>
</div>
