<div class="space-finder ui three doubling cards">
  {% comment %} editable_model spaces, hint: 'Manage all spaces' {% endcomment %}
    {% for type in contents.spaces_types %}
      <a class="ui card" href="{% path_to type %}">
        <div class="image">
          <img src="{{ type.photo.url | resize: '700x475#' }}" alt="photo of {{ type.name }}">
        </div>
        <div class="content">
          <h3 class="space-finder__category">{{ type.name }}</h3>
        </div>
      </a>
    {% endfor %}
  {% comment %} endeditable_model {% endcomment %}
</div>
