<div class="ui link cards" id="staff-cards">
{% if current_division %}
  {% with_scope division: current_division, division_head: true %}
    {% include 'staff-directory-body' %}
  {% endwith_scope %}

  {% comment %} Since there are differences in evaluating falsy btw Engine and Wagon, the key is to test != TRUE {% endcomment %}
  {% comment %} https://github.com/locomotivecms/steam/blob/2e1b6b821d8e0008dd6b9f616e153b9e9b1e980a/lib/locomotive/steam/adapters/memory/condition.rb#L28 {% endcomment %}
  {% with_scope division: current_division, division_head.ne: true %}
    {% include 'staff-directory-body-alt' %}
  {% endwith_scope %}
{% else %}
  {% with_scope imposter.ne: true %}
    {% include 'staff-directory-body-alt' %}
  {% endwith_scope %}
{% endif %}
</div>

