<div class="ui floating labeled icon dropdown tiny button">
  <input id="sort" name="sort" aria-label="Sort staff" type="hidden">
  <span class="sort icon"></span>
  <span class="text">Sort</span>
  <div class="menu">
    <div class="item" data-value="last_name">Last Name</div>
    <div class="item" data-value="first_name">First Name</div>
  </div>
</div>

<div id="view" class="ui tiny icon buttons">
  <button class="ui icon button" value="table"><span class="list icon"></span></button>
  <button class="ui icon button" value="cards"><span class="block layout icon"></span></button>
</div>
