---
title: Chat Archive
slug: chat-archive
position: 1
listed: true
published: true
is_layout: false
editable_elements:
  main/page_content: '<p>Missed a recent talk at Mann Library? No worries.  You
    can download audio or video files of specific events listed below, or you can
    subscribe to the podcast and automatically receive new files when they are loaded
    to the site. </p><p>Videos of all ourbook talks and public lectures at Mann Library
    - including the most recent - are also now viewable on <a rel="nofollow" href="http://www.youtube.com/user/mannlibrary"
    title="Link: http://www.youtube.com/user/mannlibrary">Mann Library''s YouTube
    channel</a>.</p><h3>Video Talks</h3><p>To subscribe to Mann''s video talks using
    <a rel="nofollow" href="http://www.apple.com/itunes/" title="Link: http://www.apple.com/itunes/">iTunes</a>,
    simply click this icon: <img width="100" alt="nid3D18337Ctitle3D7Cdesc3D7Clink3Durl7Curl3Ditpc3A2F2Ffeedsfeedburnercom2FMannLibraryVideoPodcasts"
    src="http://mannlib.cornell.edu/index.php?q=image/view/1833" height="15" class="img-assist
    drupal-content mceItem">&nbsp;or copy and paste this&nbsp;<a rel="nofollow" href="http://feeds.feedburner.com/MannLibraryVideoPodcasts"
    title="Link: http://feeds.feedburner.com/MannLibraryVideoPodcasts">FeedBurner
    link</a>&nbsp;into your favorite <a rel="nofollow" href="http://en.wikipedia.org/wiki/News_aggregator"
    title="Link: http://en.wikipedia.org/wiki/News_aggregator">RSS Aggregator</a>.</p><h3>Audio
    Talks</h3><p>To subscribe to audio files of Mann book talks and lectures using
    <a rel="nofollow" href="http://www.apple.com/itunes/">iTunes</a>, simply click
    this icon: <img width="100" alt="nid3D18347Ctitle3D7Cdesc3D7Clink3Durl7Curl3Ditpc3A2F2Ffeedsfeedburnercom2FMannLibraryAudioPodcasts"
    src="http://mannlib.cornell.edu/index.php?q=image/view/1834" height="15" class="img-assist
    drupal-content mceItem">&nbsp;or copy and paste this&nbsp;<a rel="nofollow" href="http://feeds.feedburner.com/MannLibraryAudioPodcasts"
    title="Link: http://feeds.feedburner.com/MannLibraryAudioPodcasts">FeedBurner
    link</a>&nbsp;into your favorite <a rel="nofollow" href="http://en.wikipedia.org/wiki/News_aggregator"
    title="Link: http://en.wikipedia.org/wiki/News_aggregator">RSS Aggregator</a>.</p>'
---
{% extends 'layouts/basic-page' %}
