---
title: News Archive
slug: archive
position: 1
listed: true
published: true
is_layout: false
editable_elements:
  main/page_content: "<h1>Celebrating 10 Years of BHL with Jacob Hübner</h1><p><img
    alt=\"\" src=\"/samples/assets/Papilio3CroppedSmall.jpg.crop_display.jpg\" class=\"wysiwyg-float-left\">\r\n\r\n</p><p>In
    early June the online <a rel=\"nofollow\" href=\"http://biodiversitylibrary.org/\">Biodiversity
    Heritage Library</a>—of which Cornell University Library is a contributing member—continued
    its 10 year anniversary celebration with a commemorative showcasing of favorite
    titles, each nominated by BHL partners for their qualities as rare, monumental
    or groundbreaking publications in the study of biodiversity research over the
    centuries. </p><p>Check the resulting <a rel=\"nofollow\" href=\"http://www.biodiversitylibrary.org/browse/collection/BHLat10\">“BHL
    at 10 Notable Books Collection” </a>and you’ll see Cornell’s nominee for inclusion
    in this illustrious line-up: <a rel=\"nofollow\" href=\"http://www.biodiversitylibrary.org/bibliography/65296#/summary\">Hübner's
    Papilio</a>, a bound volume of exquisitely drawn, often charismatically colored
    specimens from a couple of moth families of the order Lepidoptera. </p><p>What’s
    so special about this title? To begin, it’s an extremely rare work—the Cornell
    copy stored here in the special collections at Mann Library, a donation by renowned
    Cornell Professor of Entomology John Franclemont, appears to be one of only five
    copies that are in existence this side of the Atlantic. And it has a fairly remarkable
    history. German entomologist Jacob Hübner (1761-1826) is best known for his seminal
    publication Sammlung Europäischer Schmetterlinge, a foundational study in the
    field of entomology that provided a pioneering listing—the most comprehensive
    of its time—of different Lepidoptera specimens collected across Europe. His Papilio
    volume, an illustrated inventory of moths of the Sphingidae and Bombycidae families
    in the Lepidoptera order, was probably a continuation of this work. But Hübner
    died before finishing it, and after his passing, other leading German entomologists
    of the day, Paul Geyer and Gottlieb Herrich-Schäffer, took charge of Hübner’s
    unpublished manuscripts. In the case of Papilio they stewarded the gathering of
    the moth illustrations into one volume as a collection of illustrations accompanied
    by little text other than a listing of the illustrated specimen names, identified
    via the prevailing taxonomic system of the time. &nbsp;Vulnerable in its rarity—it’s
    not clear that more than a very few copies of Papilio were ever released—the volume
    that found its way to Cornell thankfully survived the all too often ravaging vicissitudes
    of history. The copper plates that were used to create the illustrations, however,
    did not. Found stored in an old Berlin warehouse in the early 1900s, they were
    melted down for copper wiring during World War I. </p>\r\n\r\n\r\n\r\n<p>Much
    like his Sammlung, Hübner’s Papilio represents a painstaking contribution to the
    study of the insect world’s astonishing diversity. If every picture tells a thousand
    words, then Hübner's work is utterly loquacious. Browsing in between the marbled
    book covers, readers will quickly be awed by the attention to minute detail that
    Hübner and his collaborating illustrators applied to their observation. Many of
    the specimens depicted are extremely delicate and winsomely small, some are quite
    plain, others flash riotously bold patterns from tiny wings, and more than a few
    startle with that famed trick of evolutionary history: the exquisitely arresting
    mimicry of a predator’s gaze. </p><p>Intricate as they are, the illustrations
    found in each of the five North American copies of this early 19th century work
    were all colored by hand. As such, slight variations exist among the plates with
    regard to the depiction of the moths presented. In taxonomy, such variations can
    be critically important. When faced with thorny questions of species identity—say,
    for example, final determination of the actual wing pattern of a species in question—taxonomists
    relying on old texts will need to compare illustrations presented in different
    copies of the same title for a definitive resolution. Which returns us to the
    point we started with at the beginning of this blog: The importance, some would
    even call it magic, of this volume’s existence—thanks to digitization efforts
    of the 21st century—as a virtual resource, easily accessible to the world via
    the Biodiversity Heritage Library. For both the specialized scientist and the
    general public alike, Hübner’s Papilio in the BHL collection underscores a simple
    but powerful thought: The value and joy of being able to look closely and take
    note of even the smallest or most fleeting elements of our natural world—for these
    have some beautiful visuals to share with us, and some important lessons as well.</p>\r\n\r\n<br><p></p>"
---
{% extends "layouts/basic-page" %}