---
title: Latest News
slug: latest-news
position: 0
listed: true
published: true
is_layout: false
editable_elements:
  main/page_content: '<p><img alt="" src="/samples/assets/NationalParkYosemiteFallsHarpers1873June21__1_.jpg.crop_display.jpg"
    class="wysiwyg-float-left">They''ve been called our country''s best idea, a space
    to connect with each other and something bigger than ourselves, a remarkable expression
    of democracy, preserving for everybody and for all time some of the earth''s most
    breathtakingly beautiful wilderness. And this year our national parks are being
    celebrated for a major milestone: &nbsp;The 100th anniversary of the U.S. national
    park system.</p><p>Formally, the National Park Service came into being with legislation
    signed by President Woodrow Wilson on August 25, 1916. But the roots that nurtured
    the birth of the NPS reach much deeper into U.S. cultural history, fed by earlier
    legislation (such as the 1864 act signed by Abraham Lincoln to protect Yosemite
    Valley) and values and visions shaped by generations of thinkers, writers, scientists,
    and artists--James Fenimore Cooper, George Catlin, Ralph Waldo Emerson, John Muir,
    Ferdinand Hayden, Fredrick Law Olmsted, to name a few.</p><p>As with any &nbsp;big
    idea, the story of America''s national park system has many perspectives, some
    inspiring, some that conflict with each other, some that have yet to be told.
    A new summer book display at Mann Library puts a spotlight on this multi-faceted
    history. As the life sciences library at Cornell, Mann''s collection in the areas
    of conservation, natural resources, and park management is particularly strong.
    We invite you come browse and explore a little of the philosophies, social and
    political forces, struggles, achievements, and hard, slogging work that brought
    America''s national parks into being. A little like the National Park Service
    itself, we hope the browse will inspire our audience to go "<a rel="nofollow"
    href="http://findyourpark.com/">find your park</a>." And maybe we go even a little
    further by invoking the words of Ken Burns, who, in his <a rel="nofollow" href="https://newcatalog.library.cornell.edu/catalog/6751784">acclaimed
    6-part documentary</a>, observes that through the national parks of this country,
    Americans are all "co-owners of some of the most spectacular scenery on earth."
    &nbsp;As the filmmaker reminds, it behooves us all to take care of our property,
    and be mindful of what needs to be done to safeguard these public treasures for
    future generations. </p><p><a rel="nofollow" href="/samples/assets/Albright_Exhibit_Select_Bib.pdf"
    title="Selected titles featured in the display">Selected titles featured in the
    display'
---
{% extends 'layouts/basic-page' %}
