section {
  margin-top: 3em;
  padding-top: 1em;
  border-top: solid 1px $light-gray;
}

.lead-in {
  font-size: 1.5em;
}

.more-link {
  font-size: .8em;
}

.todays-hours {
  @include breakpoint($cramped) {
    @include grid-span(2, 1);
  }
}

.todays-date {
  float: left;
  margin: .3em .3em 0;

  @include breakpoint($cramped) {
    float: none;
  }
}
