// Bourbon v5 removes all browser prefixes:
// -- https://github.com/thoughtbot/bourbon/commit/33d4b77
// but autoprefixer follows Can I Use which doesn't consider font-smooth on
// the standard track:
// -- http://caniuse.com/#feat=font-smooth
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Heavier font weight covered by selected heading font (Francois One)
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

// Utility class for child anchors to inherit parent color
// -- i.e. don't use the $action-color for these links
.link--no-color {
  color: inherit;

  &:active,
  &:focus,
  &:hover {
    color: inherit;
  }
}
