@import 'helpers/mixins';
@import 'config';
@import 'components/libcal-monthly-hours-widget';

.hours-weekly {
  @include susy-breakpoint($scape, $g-scape) {
    font-size: modular-scale(-1);
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    font-size: modular-scale(0);
  }

  @include span(full nest);

  line-height: modular-scale(0);
  font-size: modular-scale(-2);
}

.hours-weekly__all-cul {
  float: left;
  clear: left;

  &.ui.label { // sass-lint:disable-line force-element-nesting |Override semantic ui default
    margin-left: 0;
  }
}

.hours-weekly__all-cul-icon {
  .ui.label > &.icon { // sass-lint:disable-line force-element-nesting |Override semantic ui default
    margin: 0 0 0 .75em;
  }
}

.hours-weekly__category {
  background: color('white');
  padding-top: 3em;
  font-size: modular-scale(1);
}

.hours-weekly__data {
  @include susy-breakpoint($tablet, $g-tablet) {
    padding: .7em .3em;
  }

  padding: .5em .1em;
}

.hours-weekly__day-of-month {
  display: block;
  font-size: modular-scale(1);
}

.hours-weekly__day-of-week {
  color: color('soft-gray');

  .hours-weekly__today & {
    color: color('medium-gray');
  }
}

.hours-weekly__exception {
  margin-top: .3em;
}

.hours-weekly__location {
  @include susy-breakpoint($scape, $g-scape) {
    padding-right: .5em;
    font-weight: 700;
  }

  border-right: solid 1px color('dark-gray');
  border-bottom: 0;
  background: color('white');
  text-align: right;
}

.hours-weekly__month {
  padding-right: .5em;
  text-align: right;
  font-size: modular-scale(2);
}

.hours-weekly__nav {
  @include last;
}

.hours-weekly__switch-view {
  @include susy-breakpoint($scape, $g-scape) {
    @include nobreak;
    @include span(isolate 2 at 2);

    margin-top: 0;
  }

  @include break;
  @include last;

  margin-top: .5em;
  text-align: right;
}

.hours-weekly__tbody {
  tr {
    &:nth-of-type(odd) {
      background: color('alabaster');
    }
  }

  td {
    border-bottom-color: color('barely-gray');
  }
}

.hours-weekly__today {
  background: color('today');
}

.sticky-thead {
  thead {
    background: color('white');
  }
}
