.available-now {
  @include span(full);

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(6 break);
  }
}

.available-now__heading {
  margin-bottom: .1em;
  @include span(3);

  @include susy-breakpoint($scape, $g-scape) {
    @include span(3);
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    @include span(3);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(4 of 6);
  }
}

.available-now__datetime {
  font-size: modular-scale(-2);
  font-weight: normal;
  color: color('amulet');
}

.available-now__find-space {
  margin-bottom: .7em;
  font-size: modular-scale(-2);

  @include span(last 1);
  @include clearfix;

  @include susy-breakpoint($scape, $g-scape) {
    @include span(2);
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    @include span(2);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include pull(2);
  }
}

.available-now__grp {
  margin-bottom: 1em;
}

.available-now__subheading {
  margin: .7em 0 .2em 0;
}

.available-now__study {
  @include span(2 at 3);

  @include susy-breakpoint($scape, $g-scape) {
    @include span(3 at 4);
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    @include span(3 at 6 break);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(3 at 4 of 6);
  }
}

.available-now__consultation {
  @include span(first 2);

  @include susy-breakpoint($scape, $g-scape) {
    @include span(3);
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    @include span(3);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(first 3 of 6);
  }
}

.available-now__computers {
  @include span(2);
  clear: left;

  @include susy-breakpoint($scape, $g-scape) {
    @include span(3);
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    @include span(2);
    clear: none;
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(3 of 6);
    clear: left;
  }
}

.available-now__status {
  &--available {
    color: darken(color('success'), 60%);
  }

  &--unavailable {
    color: darken(color('error'), 60%);
  }
}
