/***********************************************************************
* TEMPORARY rules for prev/next week on hours page
* - roughly based on refills component
* - but currently not responsive (no stacking for smaller screens)
* - DO NOT KEEP AS IS!!!
***********************************************************************/

.button-group {
  $button-group-background: $base-background-color;
  $button-group-color: lighten($base-font-color, 30%);
  $button-group-border: 1px solid silver;
  $button-group-inner-border: 1px solid lighten(silver, 18%);
  $button-group-background-checked: $action-color;
  $button-group-color-checked: white;
  $button-group-border-checked: darken($button-group-background-checked, 15%);

  input[type="radio"] {
    display: none;
  }

  label {
    float: left;
    margin-bottom: 0;

    .button-group-item {
      background: $button-group-background;
      border-bottom: $button-group-border;
      border-left: 0;
      border-right: $button-group-inner-border;
      border-top: $button-group-border;
      color: $button-group-color;
      cursor: pointer;
      display: inline-block;
      font-size: $base-font-size;
      font-weight: normal;
      line-height: modular-scale(0);
      padding: 0.75em 1em;

      &:focus,
      &:hover {
        background-color: darken($button-group-background, 3%);
      }
    }

    &:first-child .button-group-item {
      border-bottom-left-radius: $base-border-radius;
      border-left: $button-group-border;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: 0;
    }

    &:last-child .button-group-item {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: $base-border-radius;
      border-right: $button-group-border;
      border-top-right-radius: $base-border-radius;
    }

    input:checked + .button-group-item {
      background: $button-group-background-checked;
      border: 1px solid $button-group-border-checked;
      box-shadow: inset 0 1px 2px darken($button-group-background-checked, 10%);
      color: $button-group-color-checked;
    }
  }
}
