.cu-banner {
  padding-left: .2em;
  height: 52px;
  font-family: Palatino, serif;
  font-size: 1.1em;
  color: color('white');
  background-color: color('cornell-gray');
  @include span(full);

  &--red {
    background-color: color('cornell-red');
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    padding-left: 5%;
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    padding-left: 10%;
  }
}

.cu-banner__insignia {
  float: left;
  height: 52px;
  background-image: url(../images/cul-brand/cu-logo-45px-white.svg);
  background-size: 34px 34px;
  background-position: 3px;
  background-repeat: no-repeat;
}

.cu-banner__uni-name {
  display: inline-block;
  margin: 14px 0 0 48px;
}
