#datepicker {
  margin-top: 1em;
}

.ui-datepicker-prev {
  margin-left: 3em;
  &:before {
    content: "<<";
  }
}

.ui-datepicker-next {
  margin-left: 1em;

  &:after {
    content: ">>";
  }
}

.ui-datepicker-title {
  float: left;
  font-weight: 700;
  font-size: modular-scale(1);
}

.ui-datepicker-calendar {
  margin-top: 0;
}

.ui-state-active {
  padding: .2em;
  color: color('white');
  background: color('action');
}
