.mann-brand {
  margin: .5em 0;
  @include span(3);

  @include susy-breakpoint($scape, $g-scape) {
    @include span(4);
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    margin: .8em 0;
    padding-left: .5em;
    @include span(5);
  }
}

.mann-brand__logo {
  float: left;
  margin-right: .4em;
  width: 45px;
  height: 45px;
  background-image: url(../images/cul-brand/mann-logo@2x.png);
  background-size: cover;

  @include breakpoint($tablet) {
    margin-right: .7em;
    width: 100px;
    height: 100px;
  }

  &.drop-mobile {
    width: 14px;
    background-image: none;

    @include breakpoint($tablet) {
      width: 100px;
      background-image: url(../images/cul-brand/mann-logo@2x.png);
    }
  }
}

.mann-brand__one-lib {
  padding: .35em 0 0 1.6em;
  font-size: .88em;
  font-weight: normal;
  font-family: $montserrat;
  line-height: .5em;
  color: $medium-gray;

  @include breakpoint($tablet) {
    padding: 1.2em 0 0 6.1em;
    font-size: 1.15em;
  }
}

.mann-brand__mannlib {
  margin: .2em 0 0 0;
  font-size: 2em;
  font-weight: 600;
  font-family: p22-underground;
  line-height: .7em;
  color: black;

  @include breakpoint($tablet) {
    font-size: 2.6em;
  }
}
