.search {
  position: absolute;
  top: 0;
  right: 0;

  @include susy-breakpoint($tablet, $g-tablet) {
    position: relative;
    margin-top: 3.5em;
    padding-right: 5%;
    text-align: right;
    font-size: modular-scale(-1);

    @include span(3 at 6);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    padding-right: 10%;

    @include span(5 at 8);
  }
}

.search__term {
  display: none;

  @include susy-breakpoint($tablet, $g-tablet) {
    display: inline-block;
    width: span(2 of 3);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    width: span(4 of 5);
  }
}

.search__select {
  display: none !important;
  font-size: modular-scale(0);

  @include susy-breakpoint($tablet, $g-tablet) {
    display: inline-block !important;
  }
}

.search__button {
  height: 52px; // Match height of cu-banner
  color: color('search-button') !important;
  background-color: color('search-banner');

  @include susy-breakpoint($tablet, $g-tablet) {
    display: none;
  }
}
