.search {
  position: absolute;
  top: 0;
  right: 0;

  @include susy-breakpoint($tablet, $g-tablet) {
    position: relative;
    margin-top: 2.8em;
    padding-right: 5%;
    text-align: right;
    font-size: modular-scale(-1);

    @include span(3 at 6);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    padding-right: 8%;

    @include span(5 at 8);
  }
}

.search__term {
  display: none;

  @include susy-breakpoint($tablet, $g-tablet) {
    display: inline-block;
    width: 70%;
    margin: .15em .5em 0;
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    width: 75%;
  }
}

.search__button {
  height: 52px; // Match height of cu-banner
  color: color('search-button');
  background-color: color('search-banner');

  @include susy-breakpoint($tablet, $g-tablet) {
    height: inherit;
  }
}
