.todays-hours {
  @include span(last 1);

  @include susy-breakpoint($scape, $g-scape) {
    @include span(last 2);
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    @include span(3 wide no-gutter break);

    border-top: solid 1px color('alabaster' ('shade': 5%));
    border-right: solid 2px color('alabaster' ('shade': 5%));
    border-bottom: solid 4px color('alabaster' ('tint': 30%));
    padding: .45em 0 .15em 5%;
    font-size: modular-scale(0);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(5 wide no-gutter);

    padding: .5em 0 .2em 8%;
    font-size: modular-scale(1);
  }

  background: color('alabaster');
  padding: .53em .5em;
  line-height: modular-scale(-1);
  font-size: modular-scale(-1);
}

.todays-hours__mann {
  @include susy-breakpoint($tablet, $g-tablet) {
    @include span(2 of 3);
  }

  margin-bottom: .3em;
}

.todays-hours__lobby,
.todays-hours__more {
  margin-left: .3em;
  font-size: modular-scale(-2);
}

.todays-hours__now {
  font-weight: bold;

  &.is-open {
    @include badge(color('open'));
  }

  &.is-closed {
    @include badge(color('closed'));
  }
}

.todays-hours__until {
  font-size: modular-scale(-1);
}
