.todays-hours {
  margin-top: 1.2em;
  font-size: modular-scale(-1);
  line-height: modular-scale(-1);
  @include span(last 1);

  @include susy-breakpoint($scape, $g-scape) {
    @include span(last 2);
  }
}

.todays-hours__now {
  font-weight: bold;

  &.is-open {
    @include badge($hours-open-color);
    color: white;
  }
}

.todays-hours__datetime {
  margin: 0;
  font-size: modular-scale(-1);
}

.todays-hours__until,
.todays-hours__more {
  font-size: modular-scale(-2);
}
