---
title: Organization & Staff
slug: staff
handle: staff
position: 1
listed: true
published: true
is_layout: false
editable_elements:
  main/page_content: Page content here
---
{% extends 'layouts/section' %}

{% block 'main/dynamic' %}

  {% include 'staff-directory-options' %}

  <div class="ui hidden divider"></div>

  {% include 'staff-directory' %}
  {{ 'staffDirectory.bundle.js' | javascript_tag }}

{% endblock %}


