---
title: Project template page
listed: false
published: true
content_type: projects
---
{% extends 'layouts/basic-page' %}

{% block 'main' %}
  {% include 'nav-projects' %}

  <div class="page-content">
    {{ project.description }}
  </div>
{% endblock %}
