<div class="ui form">
  <div class="fields">
    <div class="field">
      <label>Full Name</label>
      <input type="text" v-model="fullName" placeholder="Full Name">
    </div>
    <div class="field">
      <label>Event Name</label>
      <input type="text" v-model="eventName" placeholder="Event Name">
    </div>
    <div class="field">
      <label>Description</label>
      <input type="text" v-model="eventDescription" placeholder="Description">
    </div>
    <div class="field">
      <label>Event Start</label>
      <input type="datetime-local" v-model="eventStart">
    </div>
    <div class="field">
      <label>Event End</label>
      <input type="datetime-local" v-model="eventEnd">
    </div>
    <button class="ui submit button" v-on:click="createBookedReservation()">Submit</button>

  </div>
</div>
