---
title: Course Reserves
slug: course-reserves
handle: course-reserves
position: 100
listed: false
published: true
is_layout: false
editable_elements:
  main/page_content: '<b>Course Reserves Overview for Students</b><div>Course reserves
    are library materials and/or instructor copies that are held at one location for
    a particular course. While an item is on course reserve its loan period is shortened,
    usually to two hours, so that it can be more readily accessed by a number of students
    throughout the semester.</div><div><br></div><div>Unlike other library items,
    course reserves must be returned at the loaning library and may only be renewed
    in person with the item in hand, not by phone or online.</div><div><br></div><div>[drop-down
    menu of course reserve items and availability]</div><div><p><br></p><p>See the
    <strong><a rel="nofollow" href="https://www.library.cornell.edu/sites/default/files/FindCourseReserves_0.pdf"
    title="Link: https://www.library.cornell.edu/sites/default/files/FindCourseReserves_0.pdf"
    data-mce-href="https://www.library.cornell.edu/sites/default/files/FindCourseReserves_0.pdf">Find
    Course Reserves Instruction Sheet (PDF)</a></strong>&nbsp;for printable instructions
    on how to locate reserve items for your course.</p><p><strong>NOTE:</strong><em>&nbsp;These
    instructions are intended for the libraries on campus who shelve reserves by call
    number. Some libraries will instead shelve reserves by title or course number.</em></p><br></div>'
---
{% extends 'layouts/basic-page' %}

{% block 'main/dynamic' %}
  {% include 'dynamic-course-reserves' %}
{% endblock %}
