---
title: Hours
handle: hours
published: true
listed: false
---
{% extends layouts/default %}

{% block 'main' %}
{{ 'hours-nav.js' | javascript_tag }}

.hours-weekly__nav.ui.tiny.buttons
  %button.ui.button.disabled.js-hours-prev
    %i.fa.fa-chevron-left
  %button.ui.button.disabled.js-hours-today Today
  %button.ui.button.js-hours-next
    %i.fa.fa-chevron-right

{% for weeks in mannlib_weekly_hours.weekly_hours %}
{% if forloop.first %}
{% assign day_today = now | date: "%w" | plus: 1 %}
{% else %}
{% assign day_today = nil %}
{% endif %}
%table.hours-weekly{ :style => "{% if day_today == nil %}display:none;{% endif %}" }
  %thead
    %tr
      %th.hours-weekly__month.hours-weekly__data {{ weeks[1][0][0] | date: "%b" }}
      {% for week in weeks %}
      {% for date in week[0] %}
      %th{ class: "{%if forloop.index == day_today %}hours-weekly__today{% endif %} hours-weekly__data" }
        %span.hours-weekly__day-of-week {{ date | date: "%a" }}
        %span.hours-weekly__day-of-month {{ date | date: '%d' | ceil }}
      {% endfor %}
      {% endfor %}

  / Build array for categories
  {% assign categories = "Building, Service Desks, Consultation Services" | split: ", " %}

  {% for category in categories %}
  {% include hours-category %}
  {% endfor %}

{% endfor %}

{% endblock %}
