---
title: Hours
handle: hours
published: true
listed: false
---
{% extends layouts/default %}

{% block 'main' %}
{{ 'main.js' | javascript_tag }}
%nav.hours-weekly-nav.button-group
  %label
    %input{:name => "button-group", :type => "radio", :value => "prev-week", :disabled => true}
      %span.button-group-item << Prev Week
  %label
    %input{:name => "button-group", :type => "radio", :value => "next-week"}
      %span.button-group-item Next Week >>

{% for weeks in mannlib_weekly_hours.weekly_hours %}
{% if forloop.first %}
{% assign day_today = now | date: "%w" | plus: 1 %}
{% else %}
{% assign day_today = nil %}
{% endif %}
%table.hours-weekly{ :style => "{% if day_today == nil %}display:none;{% endif %}" }
  %thead
    %tr
      %th
        {% for week in weeks %}
        {% for date in week[0] %}
        %th{ class: "{%if forloop.index == day_today %}today{% endif %}" }
          {{ date | date: '%b %d' }}
          %span.day-of-week {{ date | date: "%a" }}
        {% endfor %}
        {% endfor %}
  %tbody
    {% for week in weeks %}
    {% for day in week[1] %}
    %tr
      %td {{ day[0] }}
      {% for time in day[1] %}
      %td{ class: "{% if forloop.index == day_today %}today{% endif %}" } {{ time }}
      {% endfor %}
      {% endfor %}
    {% endfor %}
{% endfor %}

.hours-exceptions.flash-alert
  %h4 Exceptions

  %h5
    Spring Break
    %span.badge-alert Mar 25 - Apr 3 2016

  %table.datetime-exceptions
    %tbody
      %tr
        %td.date Monday - Friday
        %td.time 8am - 5pm
      %tr
        %td.date Saturday Mar 26
        %td.time 1pm - 5pm
      %tr
        %td.date Sunday Mar 27
        %td.time CLOSED
      %tr
        %td.date Saturday Apr 2
        %td.time 1pm - 5pm
      %tr
        %td.date Sunday Apr 3
        %td.time Noon - 6pm

  %h5
    Study &amp; Exams
    %span.badge-alert May 15-24 2016

  %table.datetime-exceptions
    %tbody
      %tr
        %td.date Sunday May 15
        %td.time Noon - 2am
      %tr
        %td.date Mon - Thu May 16 - 19
        %td.time 8am - 2am
      %tr
        %td.date Friday May 20
        %td.time 8am - 8pm
      %tr
        %td.date Saturday May 21
        %td.time 11am - 8pm
      %tr
        %td.date Sunday May 22
        %td.time Noon - 2am
      %tr
        %td.date Monday May 23
        %td.time 8am - Midnight
      %tr
        %td.date Tuesday May 24
        %td.time 8am - 5pm
{% endblock %}
