---
title: Home
handle: home
published: true
listed: false
---
{% extends 'layouts/default' %}

{% block main %}
%button.course-reserves-link Course Reserves

%section.guides
  %h4.guides__heading.lead-in Guides

  %ul.guides__libguides
    %span.guides__libguides-grp1
      %li
        %a{href: "http://guides.library.cornell.edu/srch.php?q=agriculture+economics+and+business&t=0"} Agriculture Economics &amp; Business
      %li
        %a{href: "http://guides.library.cornell.edu/srch.php?q=food+systems+and+agriculture&t="} Food Systems &amp; Agriculture
      %li
        %a{href: "http://guides.library.cornell.edu/srch.php?q=health+science+and+policy&t=0"} Health Science &amp; Policy
      %li
        %a{href: "http://guides.library.cornell.edu/srch.php?q=environmental+sciences&t=0"} Environmental Sciences
    %span.guides__libguides-grp2
      %li
        %a{href: "http://guides.library.cornell.edu/srch.php?q=applied+social+science&guide_id=154284"} Applied Social Sciences
      %li
        %a{href: "http://guides.library.cornell.edu/srch.php?q=life+and+biological+sciences&t=0"} Life &amp; Biological Sciences
      %li
        %a{href: "http://guides.library.cornell.edu/srch.php?q=environmental+and+fiber+design&t=0"} Environmental &amp; Fiber Design
  %a.guides__all-guides.more-link{href: "http://guides.library.cornell.edu"}
    All Guides
    %i.fa.fa-angle-double-right

%section.featured__side-image
  %img.img-responsive.img-faded{:alt => "Abstract placeholder", :src => "{{ 'events/abstract-placeholder.jpg' | theme_image_url }}"}/

%section.available-now
  %h4.available-now__heading.lead-in
    Available Now
    %span.available-now__datetime {{ now | date: '%-I:%M %p' }}

  %a{href: "{% path_to spaces %}" }
    %button.available-now__find-space Find a Space

  .available-now__grp.available-now__study
    %h5.available-now__subheading Study Spaces

    %ul
      %li.available-now__status--available
        %i.fa.fa-fw.fa-smile-o
        Individual Rooms
      %li.available-now__status--available
        %i.fa.fa-fw.fa-smile-o
        Group Rooms
      %li.available-now__status--unavailable
        %i.fa.fa-fw.fa-frown-o
        Graduate Rooms
      %li.available-now__status--available
        %i.fa.fa-fw.fa-smile-o
        One Button Studio
      %li.available-now__status--unavailable
        %i.fa.fa-fw.fa-frown-o
        Interview Room
      %li.available-now__status--available
        %i.fa.fa-fw.fa-smile-o
        Bissett Workstations

  .available-now__grp.available-now__consultation
    %h5.available-now__subheading Consultation

    %ul
      %li.available-now__status--available
        %i.fa.fa-fw.fa-smile-o
        Reference
      %li.available-now__status--unavailable
        %i.fa.fa-fw.fa-frown-o
        GIS
      %li.available-now__status--available
        %i.fa.fa-fw.fa-smile-o
        CISER
      %li.available-now__status--available
        %i.fa.fa-fw.fa-smile-o
        Knight Writing Institute

  .available-now__grp.available-now__computers
    %h5.available-now__subheading Computers

    %ul
      %li.available-now__status--unavailable
        %i.fa.fa-fw.fa-frown-o
        Desktops
        %span.badge.badge-error 0
      %li.available-now__status--available
        %i.fa.fa-fw.fa-smile-o
        Laptops
        %span.badge.badge-success 27

%section.events-home
  %h4.events-home__heading.lead-in Events &amp; Exhibits

  %h5.events-home__day Today

  %ul
    %li.events-home__event
      %h6.events-home__title
        %a{href: "javascript:void(0);"} Farming for Change: Agroecology, Gender, and Climate Change Adaptation in Malawi and Tanzania

      %dl
        %dt.events-home__label time
        %dd.events-home__time 8 am - 12 am

        %dt.events-home__label location
        %dd.events-home__location 2nd Floor Gallery

    %li.events-home__event
      %h6.events-home__title
        %a{href: "javascript:void(0);"} Vintage Vogue: Vogel, Vogue and the Art of "Gazette Du Bon Ton"


      %dl
        %dt.events-home__label time
        %dd.events-home__time 8 am - 6 pm

        %dt.events-home__label location
        %dd.events-home__location Lobby

  %h5.events-home__day Tomorrow

  %ul
    %li.events-home__event
      %h6.events-home__title
        %a{href: "javascript:void(0);"} Farming for Change: Agroecology, Gender, and Climate Change Adaptation in Malawi and Tanzania

      %dl
        %dt.events-home__label time
        %dd.events-home__time 8 am - 6 pm

        %dt.events-home__label location
        %dd.events-home__location 2nd Floor Gallery

  %a.more-link{href: "{% path_to events %}"}
    All Events
    %i.fa.fa-angle-double-right

%section.events-home.workshops
  %h4.lead-in Workshops &amp; Classes

  %h5.events-home__day Today

  %ul
    %li.events-home__event
      %h6.events-home__title
        %a{href: "javascript:void(0);"} Making & Makerspaces at Cornell

      %dl
        %dt.events-home__label time
        %dd.events-home__time 4:30 pm - 6 pm

        %dt.events-home__label location
        %dd.events-home__location Lobby

  %h5.events-home__day Tomorrow

  %ul
    %li.events-home__event
      %h6.events-home__title
        %a{href: "javascript:void(0);"} Making & Makerspaces at Cornell

      %dl
        %dt.events-home__label time
        %dd.events-home__time 12 pm - 1 pm

        %dt.events-home__label location
        %dd.events-home__location Basement 30B

  %h5.events-home__day Sat, Apr 23

  %ul
    %li.events-home__event
      %h6.events-home__title
        %a{href: "javascript:void(0);"} Splash! At Cornell

      %dl
        %dt.events-home__label time
        %dd.events-home__time 12 pm - 5 pm

        %dt.events-home__label location
        %dd.events-home__location Stone Classroom

  %a.more-link{href: "{% path_to events %}"}
    All Workshops &amp; Classes
    %i.fa.fa-angle-double-right
{% endblock %}
