---
title: Home
handle: home
published: true
listed: false
---
{% extends 'layouts/default' %}

{% block 'main' %}
%section.available-now
  %h4.available-now__heading.lead-in
    Today @ Mann
    %span.available-now__datetime {{ now | date: '%-I:%M %p' }}

  {% include 'availnow-computers' %}

  .available-now__grp.available-now__study
    {% include 'availnow-study' %}

  .available-now__grp.available-now__consultation
    %h5.available-now__subheading Consultation

    %ul
      %li.available-now__status.available-now__status--available
        %i.fa.fa-fw.fa-check-square
        Reference
      %li.available-now__status.available-now__status--unavailable
        %i.fa.fa-fw.fa-minus-square
        GIS
      %li.available-now__status.available-now__status--available
        %i.fa.fa-fw.fa-check-square
        CISER
      %li.available-now__status.available-now__status--available
        %i.fa.fa-fw.fa-check-square
        Knight Writing Institute

%section.featured__side-image
  %img.img-responsive.img-faded{:alt => "Abstract placeholder", :src => "{{ 'events/abstract-placeholder.jpg' | theme_image_url }}"}/

%events{"booked-username" => "{{site.metafields.sensitive_data.booked_username}}", "booked-password" => "{{site.metafields.sensitive_data.booked_password}}"}

{{ 'homePageEvents.bundle.js' | javascript_tag }}

%section.meet-librarians
  %h4.meet-librarians__heading.lead-in Meet Our Librarians

  {% include meet-librarians' %}

  %a.meet-librarians__all-experts.more-link{href: "#"}
    Meet All Our Experts
    %i.fa.fa-angle-double-right

{% endblock %}
