---
title: Home page
published: true
---
!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title {{ site.name }}
    %meta{name: "keywords", value: "{{ site.meta_keywords }}"}
    %meta{name: "description", value: "{{ site.meta_description }}"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
    {{ 'application.css' | stylesheet_tag }}
  %body
    {% include 'header' %}
    %main
      {% block 'main' %}
      .todays-hours
        %h5.todays-date {{ now | date: '%b %-d, %Y' }}

        %p.hours-now
          %span.badge.badge-hours-open Open
          until Midnight
          %a.more-link.more-hours{href: "#"} Full Hours >>

      %button.take-me-now Reserve a Room

      %section.research-help
        %h4.lead-in Research Help

        %h5.guides Guides

        %ul.lib-guides
          %li.lib-guide-feature
            %a{href: "#"} Agriculture Economics &amp; Business
          %li.lib-guide-feature
            %a{href: "#"} Food Systems &amp; Agriculture
          %li.lib-guide-feature
            %a{href: "#"} Health Science &amp; Policy
          %li.lib-guide-feature
            %a{href: "#"} Environmental Sciences
          %li.lib-guide-feature
            %a{href: "#"} Applied Social Sciences
          %li.lib-guide-feature
            %a{href: "#"} Life &amp; Biological Sciences
          %li.lib-guide-feature
            %a{href: "#"} Environmental &amp; Fiber Design

        %a.more-link{href: "#"} All Guides >>

        %button.course-reserves Course Reserves

      .feature.side-image
        .images-wrapper

        .side-image-content
          %h4.lead-in News

          %h1 Let Mann Help You Create a Student Film Series

          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.

      %section.available-now
        %h4.lead-in
          Available Now
          %span.now {{ now | timezone: 'Eastern' | date: '%-I:%M %p' }}

        .available-grp.available-consultation
          %h5 Consultation

          %ul.available-now
            %li.available-item
              %span.badge.badge-success +
              Reference
            %li.unavailable-item
              %span.badge.badge-error x
              GIS
            %li.available-item
              %span.badge.badge-success +
              CISER
            %li.available-item
              %span.badge.badge-success +
              Knight Writing Institute

        .available-grp.available-computers
          %h5 Computers

          %ul.available-now
            %li.unavailable-item
              %span.badge.badge-error 0
              Desktops
            %li.available-item
              %span.badge.badge-success 27
              Laptops

        .available-grp.available-study
          %h5 Places to Study

          %ul.available-now
            %li.available-item
              %span.badge.badge-success +
              Individual Rooms
            %li.unavailable-item
              %span.badge.badge-success +
              Group Rooms
            %li.unavailable-item
              %span.badge.badge-error x
              Graduate Rooms
            %li.available-item
              %span.badge.badge-success +
              One Button Studio
            %li.unavailable-item
              %span.badge.badge-error x
              Interview Room
            %li.available-item
              %span.badge.badge-success +
              Bissett Workstations

      %section.events-exhibits
        %h4.lead-in Events &amp; Exhibits

        %h5.event-day Today

        %ul.events
          %li.event
            %h6.event-title
              %a{href: "#"} Career Development

            %dl.event-detail
              %dt time
              %dd 8 am - 5 pm

              %dt location
              %dd Room 102

          %li.event
            %h6.event-title
              %a{href: "#"} Plant Breeding Seminar

            %dl.event-detail
              %dt time
              %dd 8 am - 1 pm

              %dt location
              %dd Room 100

          %li.event
            %h6.event-title
              %a{href: "#"} Data Management Seminar

            %dl.event-detail
              %dt time
              %dd 2 pm - 4 pm

              %dt location
              %dd Room 100

        %a.more-link{href: "#"} All Events >>

      %section.workshops-classes
        %h4.lead-in Workshops &amp; Classes

        %h5.event-day Today

        %ul.events
          %li.event
            %h6.event-title
              %a{href: "#"} AEM 4070 001/AEM 6070 001

            %dl.event-detail
              %dt time
              %dd 10:10 am - 11:20 am

              %dt location
              %dd Basement 30A

        %h5.event-day Tomorrow

        %ul.events
          %li.event
            %h6.event-title
              %a{href: "#"} Sheep - ANSC 3800

            %dl.event-detail
              %dt time
              %dd 8 am - 1 pm

              %dt location
              %dd Basement 30B

          %li.event
            %h6.event-title
              %a{href: "#"} GIS for MLA students

            %dl.event-detail
              %dt time
              %dd 1:30 pm - 3 pm

              %dt location
              %dd Stone Classroom

        %a.more-link{href: "#"} All Workshops >>

      {% endblock %}
    {% include 'footer' %}
