---
title: Home
handle: home
published: true
listed: false
---
{% extends 'layouts/default' %}

{% block main %}
%button.course-reserves-link Course Reserves

%section.guides
  %h4.guides__heading.lead-in Guides

  %ul.guides__libguides
    %span.guides__libguides-grp1
      %li
        %a{href: "#"} Agriculture Economics &amp; Business
      %li
        %a{href: "#"} Food Systems &amp; Agriculture
      %li
        %a{href: "#"} Health Science &amp; Policy
      %li
        %a{href: "#"} Environmental Sciences
    %span.guides__libguides-grp2
      %li
        %a{href: "#"} Applied Social Sciences
      %li
        %a{href: "#"} Life &amp; Biological Sciences
      %li
        %a{href: "#"} Environmental &amp; Fiber Design
  %a.guides__all-guides.more-link{href: "#"}
    All Guides
    %i.fa.fa-angle-double-right

%section.featured__side-image
  .featured__images-wrapper

  .featured__side-image-content
    %h4.featured__heading.lead-in News

    %h1.featured__title Let Mann Help You Create a Student Film Series

    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.

%section.available-now
  %h4.available-now__heading.lead-in
    Available Now
    %span.available-now__datetime {{ now | date: '%-I:%M %p' }}

  %button.available-now__reserve-room Reserve a Room

  .available-now__grp.available-now__study
    %h5.available-now__subheading Places to Study

    %ul
      %li.available-now__status--available
        %i.fa.fa-fw.fa-smile-o
        Individual Rooms
      %li.available-now__status--available
        %i.fa.fa-fw.fa-smile-o
        Group Rooms
      %li.available-now__status--unavailable
        %i.fa.fa-fw.fa-frown-o
        Graduate Rooms
      %li.available-now__status--available
        %i.fa.fa-fw.fa-smile-o
        One Button Studio
      %li.available-now__status--unavailable
        %i.fa.fa-fw.fa-frown-o
        Interview Room
      %li.available-now__status--available
        %i.fa.fa-fw.fa-smile-o
        Bissett Workstations

  .available-now__grp.available-now__consultation
    %h5.available-now__subheading Consultation

    %ul
      %li.available-now__status--available
        %i.fa.fa-fw.fa-smile-o
        Reference
      %li.available-now__status--unavailable
        %i.fa.fa-fw.fa-frown-o
        GIS
      %li.available-now__status--available
        %i.fa.fa-fw.fa-smile-o
        CISER
      %li.available-now__status--available
        %i.fa.fa-fw.fa-smile-o
        Knight Writing Institute

  .available-now__grp.available-now__computers
    %h5.available-now__subheading Computers

    %ul
      %li.available-now__status--unavailable
        %i.fa.fa-fw.fa-frown-o
        Desktops
        %span.badge.badge-error 0
      %li.available-now__status--available
        %i.fa.fa-fw.fa-smile-o
        Laptops
        %span.badge.badge-success 27

%section.events-home
  %h4.events-home__heading.lead-in Events &amp; Exhibits

  %h5.events-home__day Today

  %ul
    %li.events-home__event
      %h6.events-home__title
        %a{href: "#"} Career Development

      %dl
        %dt.events-home__label time
        %dd.events-home__time 8 am - 5 pm

        %dt.events-home__label location
        %dd.events-home__location Room 102

    %li.events-home__event
      %h6.events-home__title
        %a{href: "#"} Plant Breeding Seminar

      %dl
        %dt.events-home__label time
        %dd.events-home__time 8 am - 1 pm

        %dt.events-home__label location
        %dd.events-home__location Room 100

    %li.events-home__event
      %h6.events-home__title
        %a{href: "#"} Data Management Seminar

      %dl
        %dt.events-home__label time
        %dd.events-home__time 2 pm - 4 pm

        %dt.events-home__label location
        %dd.events-home__location Room 100

  %a.more-link{href: "#"}
    All Events
    %i.fa.fa-angle-double-right

%section.events-home.workshops
  %h4.lead-in Workshops &amp; Classes

  %h5.events-home__day Today

  %ul
    %li.events-home__event
      %h6.events-home__title
        %a{href: "#"} AEM 4070 001/AEM 6070 001

      %dl
        %dt.events-home__label time
        %dd.events-home__time 10:10 am - 11:20 am

        %dt.events-home__label location
        %dd.events-home__location Basement 30A

  %h5.events-home__day Tomorrow

  %ul
    %li.events-home__event
      %h6.events-home__title
        %a{href: "#"} Sheep - ANSC 3800

      %dl
        %dt.events-home__label time
        %dd.events-home__time 8 am - 1 pm

        %dt.events-home__label location
        %dd.events-home__location Basement 30B

    %li.events-home__event
      %h6.events-home__title
        %a{href: "#"} GIS for MLA students

      %dl
        %dt.events-home__label time
        %dd.events-home__time 1:30 pm - 3 pm

        %dt.events-home__label location
        %dd.events-home__location Stone Classroom

  %a.more-link{href: "#"}
    All Workshops
    %i.fa.fa-angle-double-right
{% endblock %}
