---
title: Projects
handle: projects
published: true
listed: false
position: 1
---
{% extends 'layouts/default' %}

{% block 'main' %}
  <div class="page-content">
    {% for project in contents.projects %}
      <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>

      <p>{{ project.description }}</p>
    {% endfor %}
  </div>
{% endblock %}
