---
title: Projects
handle: projects
published: true
listed: false
position: 1
---
{% extends parent %}

{% block main %}
.page-content
  {% for project in contents.projects %}
  %h3 <a href="{{ project.url }}">{{ project.title }}</a>
  %p {{ project.description }}
  {% endfor %}

{% endblock %}
