---
title: Default layout
is_layout: false
---
!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title {{ site.name }}
    %meta{name: "keywords", value: "{{ site.meta_keywords }}"}
    %meta{name: "description", value: "{{ site.meta_description }}"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
    %script{src: "https://use.typekit.net/udt1gzh.js"}
    %script
      try{Typekit.load({ async: true });}catch(e){}
    {{ 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' | stylesheet_tag }}

    {{ 'main.css' | stylesheet_tag }}
    {{ 'jqueryLocal.bundle.js' | javascript_tag }}
  %body{class: "body-{{ page.slug }}"}
    {% include 'header' %}
    %main
      {% block 'heading' %}
      {% include 'breadcrumbs-heading' %}
      {% endblock %}

      {% block 'main' %}
      {% endblock %}
    {% include 'footer' %}
