---
title: Default layout
is_layout: false
---
!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title {{ site.name }}
    %meta{name: "keywords", value: "{{ site.meta_keywords }}"}
    %meta{name: "description", value: "{{ site.meta_description }}"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
    %script{src: "https://use.typekit.net/udt1gzh.js"}
    %script
      try{Typekit.load({ async: true });}catch(e){}
    {{ 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' | stylesheet_tag }}
    / TEMPORARY BRUTE FORCE OF DROPDOWN SEMANTIC-UI COMPONENT & DEPENDENCIES -- FOR SEARCH FORM
    {{ '//oss.maxcdn.com/semantic-ui/2.1.8/components/button.min.css' | stylesheet_tag }}
    {{ '//oss.maxcdn.com/semantic-ui/2.1.8/components/dropdown.min.css' | stylesheet_tag }}
    {{ '//oss.maxcdn.com/semantic-ui/2.1.8/components/icon.min.css' | stylesheet_tag }}
    {{ '//oss.maxcdn.com/semantic-ui/2.1.8/components/input.min.css' | stylesheet_tag }}
    {{ '//oss.maxcdn.com/semantic-ui/2.1.8/components/transition.min.css' | stylesheet_tag }}
    /
    {{ 'main.css' | stylesheet_tag }}
    {{ 'https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js' | javascript_tag }}
  %body
    {% include 'header' %}
    %main
      {% block heading %}
      {% include 'breadcrumbs-heading' %}
      {% endblock %}

      {% block main %}
      {% endblock %}
    {% include 'footer' %}

    / TEMPORARY JS FOR SEARCH FORM -- WILL BE REFACTORED TO USE WEBPACK
    {{ '//oss.maxcdn.com/semantic-ui/2.1.8/semantic.min.js' | javascript_tag }}
    {{ 'search-select.js' | javascript_tag }}
