---
title: Landing
is_layout: false
---
{% extends 'layouts/default' %}

{% block main %}
.landing-description
  {% editable_text "landing_description", hint: "Keep it short and sweet" %}
  Brief description here.
  {% endeditable_text %}

{% include 'section-nav' %}
{% endblock %}
