---
title: Find a Space
handle: spaces
published: true
listed: true
position: 1
---
{% extends layouts/default %}

{% block main %}

{% for type in contents.spaces_types  %}
  <section class="space-finder space-finder__study">
    <h3 class="space-finder__heading">{{ type.name }}</h3>
    <a href="#" class="ui medium image">
      <img src="http://placehold.it/250">
    </a>
  </section>
{% endfor %}

{% include 'section-nav' %}
{% endblock %}
