.footer {
  @include span(full nest);

  @include susy-breakpoint($tablet, $g-tablet) {
    padding: 2em 3%;
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    padding: 2em 7%;
  }

  margin-top: 6em;
  background: color('vulcan');
  padding: 2em .3em;
  color: color('white');
}

.footer__about-subnav {
  margin-bottom: 1em;
}

.footer__address-line {
  display: block;
}

.footer__address-line,
.footer__floorplans {
  line-height: modular-scale(1);
  font-size: modular-scale(-1);
}

.footer__bottomline {
  @include span(full);
}

.footer__copyright {
  @include susy-breakpoint($scape, $g-scape) {
    @include span(4);

    margin-left: 0;
  }

  margin-top: 1em;
  line-height: modular-scale(1);
}

.footer__heading {
  margin-bottom: .2em;
  color: color('headings-footer');
}

.footer__heading-link {
  color: color('headings-footer');
}

.footer__haiku,
.footer__mission {
  margin-bottom: 0;
}

.footer__mann-logo {
  max-width: 8em;
}

.footer__panel {
  @include susy-breakpoint($scape, $g-scape) {
    @include span(2);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(4);
  }

  margin-bottom: 1em;
}

.footer__social {
  @include susy-breakpoint($scape, $g-scape) {
    @include span(last 2);

    text-align: right;
  }

  margin-bottom: 1em;
}

.footer__social-icon {
  color: color('aluminum');
}
