.accessory-nav {
  @include susy-breakpoint($tablet, $g-tablet) {
    float: right;
    margin-top: 1em;
    padding-right: $pad-content-tablet;
    font-size: modular-scale(-2);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    margin-top: 1.2em;
    padding-right: $pad-content-lapdesk;
    font-size: modular-scale(-1);
  }
}

.accessory-nav__button {
  @include susy-breakpoint($tablet, $g-tablet) {
    display: none;
  }

  position: absolute;
  top: 3px;
  right: 0;
  border-radius: 0;
  background-color: color('cu-banner');
  padding: 0;
  width: $header-height;
  height: $header-height; // Match height of cu-banner
  color: color('accessory-nav-btn');

  &:active,
  &:focus {
    background: inherit;
    color: inherit;
  }

  &--active,
  &--active:focus // sass-lint:disable-line force-pseudo-nesting,
  &:hover {
    background: color('accessory-nav-bg');
    color: color('white');
  }
}

.accessory-nav__icon {
  color: color('accessory-nav-icon');
}

.accessory-nav__item {
  @include susy-breakpoint($tablet, $g-tablet) {
    display: inline-block;
    margin-top: 0;
    padding-left: .2em;

    &:first-of-type {
      padding-left: 0;
    }
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    padding-left: 1em;
  }

  margin-top: 1em;

  &:first-of-type {
    margin-top: 0;
  }
}

.accessory-nav__link {
  color: color('accessory-nav');
  font-weight: normal;

  &:hover {
    color: color('accessory-nav-hover');
  }
}

.accessory-nav__list {
  @include susy-breakpoint($tablet, $g-tablet) {
    display: inline-block;
    position: relative;
    top: 0;
    background: none;
    padding: 0;
    width: inherit;
  }

  // Accessed/toggled via hamburger menu for mobile
  @include susy-breakpoint(max-width ($tablet - .05), $g-tablet) {
    display: none;
    position: absolute;
    top: 88px;
    right: 0;
    z-index: $above-content;
    margin: 0;
    background-color: color('accessory-nav-bg');
    padding: .5em;
    width: 100%;

    &--hamburglarin {
      display: block;
    }
  }

  text-align: left;
}

.my-account {
  @include susy-breakpoint($tablet, $g-tablet) {
    display: inline-block;
    top: 6px;
    right: $pad-content-tablet + .4;
    line-height: 1.2em;
    font-size: modular-scale(-1);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    right: $pad-content-lapdesk + .4;
  }

  // Accessed/toggled via hamburger menu for mobile
  @include susy-breakpoint(max-width ($tablet - .05), $g-tablet) {
    display: none;
    top: 48px;
    right: 0;
    z-index: $above-content;
    margin: 0;
    background-color: color('accessory-nav-bg');
    padding: .5em;
    width: 100%;

    &--hamburglarin {
      display: block;
    }
  }

  position: absolute;
}

.my-account__icon {
  @include susy-breakpoint(max-width ($tablet - .05), $g-tablet) {
    color: color('accessory-nav-icon');
  }
}

.my-account__link {
  @include susy-breakpoint($tablet, $g-tablet) {
    color: color('my-account');
  }

  @include susy-breakpoint(max-width ($tablet - .05), $g-tablet) {
    color: color('my-account-mobile');

    &:hover {
      color: color('accessory-nav-hover');
    }
  }
}

.site-nav {
  @include break;
  @include span(full nest);

  margin-bottom: 1em;
  border-top: solid 1px color('nav-bg' ('shade': 5%));
  border-bottom: solid 4px color('nav-bg' ('tint': 85%));
  background: color('nav-bg');
  padding: 0 auto;
  text-align: center;
  font-weight: bold;
}

.site-nav__list {
  @include susy-breakpoint($scape, $g-scape) {
    text-align: left;
  }

  @include susy-breakpoint($tablet, $g-tablet) {
    padding-left: $pad-content-tablet - 2;
    width: span(5);
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    padding-left: $pad-content-lapdesk - 1.6;
  }

  position: relative;

  .link {
    @include susy-breakpoint($lapdesk, $g-lapdesk) {
      padding: .8em;
    }

    display: inline-block;
    position: static;
    padding: .41em;

    &.active {
      background: color('nav-bg' ('shade': 15%));
    }

    &:hover {
      background: color('mega-bg');
      transition-delay: 200ms;

      & > a {
        color: color('nav-bg');
        transition-delay: 200ms;
      }

      & > .site-nav__mega {
        visibility: visible;
        opacity: 1;
        transition-delay: 200ms;
      }

    }

    & > a {
      color: color('white');
    }
  }
}

.site-nav__mega {
  @include susy-breakpoint($tablet, $g-tablet) {
    left: $pad-megamenu-tablet;
    width: 92vw;
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    left: $pad-megamenu-lapdesk;
    width: 86vw;
  }

  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: $above-content + 1000; // play it safe, ensure megamenu beats out any other element using this var
  background: color('mega-bg' ('transparentize': .02));
  padding: 2em;
  width: 100%;
  height: auto;
  text-align: left;
}

.site-nav__section {
  @include susy-breakpoint($tablet, $g-tablet) {
    @include span(2 of 8);

    margin-bottom: 0;
  }

  @include susy-breakpoint($lapdesk, $g-lapdesk) {
    @include span(3 of 12);
  }

  margin-bottom: 1em;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.site-nav__section-heading {
  margin-bottom: 0;
  border-bottom: solid 1px color('mega-bg' ('shade': 10%));
  padding-bottom: .2em;
  line-height: 1.2em;
  font-size: modular-scale(0);
}

.site-nav__subpage {
  @include susy-breakpoint($tablet, $g-tablet) {
    border-bottom: 0;
  }

  border-bottom: solid 1px color('mega-bg' ('shade': 5%));
}

.site-nav__subpage-link {
  display: block;
  padding: .6em .2em;
  line-height: 1em;
  font-weight: normal;

  &:active,
  &:focus,
  &:hover {
    border-radius: 5px;
    background: color('mega-bg' ('shade': 5%));
  }
}
