---
title: Audio Recorder
slug: audio-recorder
handle: audio_recorder
position: 2
listed: true
published: true
is_layout: false
editable_elements:
  main/page_content: "<h2>Zoom H1 Handy Recorder</h2><p><b></b></p><p><b><img title=\"Image:
    /samples/assets/Zoom_H1.jpg\" src=\"/samples/assets/Zoom_H1.jpg\" class=\"wysiwyg-float-right\"></b></p><p><b>Features:</b><br></p><ul><li>2
    gigabyte capacity</li><li>Microphone input</li><li>Headphone output</li><li>Records
    in MP3 format</li></ul><p><br></p><p><b>Additional information:&nbsp;</b>For full
    specifications, please visit the <a href=\"https://www.zoom-na.com/products/field-video-recording/field-recording/zoom-h1-handy-recorder\"
    title=\"Link: https://www.zoom-na.com/products/field-video-recording/field-recording/zoom-h1-handy-recorder\">Zoom
    website</a>.</p><p><br></p><p><br></p>\r\n<p></p><h2>Zoom H4n Handy Recorder</h2><p></p><b><img
    src=\"/samples/assets/Zoom_H4n.jpg\" class=\"wysiwyg-float-right\"></b><p></p><p><b>Features:</b></p><ul><li>True
    X/Y stereo microphones</li><li>Selectable recording patterns</li><li>16 gigabytes
    memory</li><li>Wired remote control</li></ul><p><b><br></b></p><p><b>Additional
    information:&nbsp;</b>For full specifications, please visit the <a href=\"https://www.zoom-na.com/products/field-video-recording/field-recording/zoom-h4n-handy-recorder\">Zoom
    website</a>.</p>"
  main/section_photo: ''
  main/landing_description: Brief description here.
---
{% extends 'layouts/basic-page' %}
{% block 'main/accessory' %}
  {% include 'equipment-type-setup' %}
  {% include 'equipment-type-list'
    with equipment_type_1_title: audio_recorder_type_1_title,
    with equipment_type_1: audio_recorder_type_1_items,
    with equipment_type_2_title: audio_recorder_type_2_title,
    with equipment_type_2: audio_recorder_type_2_items
  %}
{% endblock %}
