---
title: Camcorders
slug: camcorders
handle: camcorders
position: 1
listed: true
published: true
is_layout: false
editable_elements:
  main/page_content: "<h2>Sony HDR-PJ380 High Definition Handycam Camcorder</h2><p><b><img
    title=\"Image: /samples/assets/Sony_Handycam.jpg\" src=\"/samples/assets/Sony_Handycam.jpg\"
    class=\"wysiwyg-float-right\"></b></p><p><b>Features:</b><br></p><ul><li>1080/60p
    video capabilities</li><li>8.9 megapixel still camera</li><li>30x optical zoom</li><li>16
    gigabyte storage</li><li>13 lumen projector</li></ul><p><b><br></b></p><p><b>Additional
    information:</b> \r\n\r\nFor full specifications, please visit <a href=\"http://www.sony.com/\"
    title=\"Link: https://esupport.sony.com/US/p/model-home.pl?mdl=DSCW730\">Sony's
    website</a>. You may need to enter the model number to obtain the required information.\r\n\r\n</p><p><br></p><h2>Panasonic
    HX-WA03 Active Lifestyle Full HD Camcorder</h2><p><b><img title=\"Image: /samples/assets/Panasonic_Flip.jpg\"
    src=\"/samples/assets/Panasonic_Flip.jpg\" class=\"wysiwyg-float-right\"></b></p><p><b>Features:</b></p><ul><li>1080
    60i/30p video capabilities</li><li>16 megapixel camera</li><li>18x iZoom and 120x
    digital zoom</li><li>8 gigabyte storage</li></ul><p><b><br></b></p><p><b>Additional
    information:</b> For full specifications, please visit <a href=\"http://shop.panasonic.com/support-only/HX-WA03W.html\"
    title=\"Link: http://shop.panasonic.com/support-only/HX-WA03W.html\">Panasonic's
    website</a>. You may need to enter the model number to obtain the required information.\r\n\r\n</p><p><br></p>"
  main/section_photo: ''
  main/landing_description: Brief description here.
---
{% extends 'layouts/basic-page' %}
{% block 'main/accessory' %}
  {% include 'equipment-type-setup' %}
  {% include 'equipment-type-list'
    with equipment_type_1_title: camcorder_type_1_title,
    with equipment_type_1: camcorder_type_1_items,
    with equipment_type_2_title: camcorder_type_2_title,
    with equipment_type_2: camcorder_type_2_items
  %}
{% endblock %}
