---
title: GPS Units
slug: gps-units
handle: gps_units
position: 5
listed: true
published: true
is_layout: false
editable_elements:
  main/page_content: "<p>\r\n\r\n</p><h3>Garmin 76CS GPS Unit</h3><p><b><img alt=\"\"
    src=\"/samples/assets/Garmin_76CS_.jpg\" class=\"wysiwyg-float-right\"></b></p><p><b>Features:</b></p><ul><li>WAAS-capable
    receivers</li><li>160 x 240 pixel, 256-color display*</li><li>Built-in quad helix
    antenna</li><li>Electronic compass</li><li>Barometric sensor</li><li>Elevation
    computer</li><li>USB connectivity</li><li>Position formats include Lat/Lon, UTM,
    Loran TDs, and more</li><li>Trip computer (odometer, stopped time, moving average,
    total time, max speed, and more)</li></ul><p><i>*Please note: While both GPS units
    offer a \"moving map\" color display for viewing information like location, bearing,
    and elevation, they are provided with only minimal Garmin \"base layer\" maps,
    and are not suitable as navigation devices. Their primary purpose for our patrons
    is to record data points for research purposes. </i></p><p><b>Additional information:</b></p><p>\r\n\r\n</p><ul><li>Garmin
    units are circulated with one set of fully charged batteries. This should be sufficient
    for most users, but if you're planning to use the unit heavily, you may want to
    consider bringing an extra set of disposable batteries as a back up. Changing
    from rechargeable to disposable batteries requires changing the GPS unit configuration.<br></li><li><a
    rel=\"nofollow\" href=\"http://www.dnr.state.mn.us/mis/gis/DNRGPS/DNRGPS.html\"
    title=\"Link: http://www.dnr.state.mn.us/mis/gis/DNRGPS/DNRGPS.html\">DNRGPS</a>&nbsp;(recommended)
    or Garmin's MapSource software is required to download data from the GPS. A USB
    cable for connecting the GPS unit to a computer comes with the unit. Do not attempt
    to download data without one of these software packages.</li></ul>\r\n\r\n<div><br></div><h2><br></h2><h2>Locosys
    BGT-31 GPS Data Logger</h2><div><b><img alt=\"\" src=\"/samples/assets/BGT-31.jpg\"
    class=\"wysiwyg-float-right\"></b></div><div><b>Features:</b></div><div><ul><li>High
    accuracy SiRFstar III chipset\r\n\r\n<br></li><li>Simple LCD display for viewing
    menus, heading, location (coordinates), altitude and speed\r\n\r\n<br></li><li>USB
    connectivity</li></ul><p><b><br></b></p><p><b>Additional information:</b></p><p>\r\n\r\n</p><ul><li>The
    BGT-31 has an internal rechargeable battery. Be sure to check charge before starting
    work. Adapters are provided for charging via USB, AC, or vehicle (DC).</li></ul><p>\r\n\r\n</p><ul><li>Drivers
    and software are needed for connecting the unit to a computer. They are available
    on CD (comes with unit) or from the manufacturer <a rel=\"nofollow\" href=\"http://www.locosystech.com/support.php?model=GT-31/BGT-31&amp;DL=1&amp;zln=en\"
    title=\"Link: http://www.locosystech.com/support.php?model=GT-31/BGT-31&amp;DL=1&amp;zln=en\">Locosys</a>.</li></ul>\r\n\r\n</div>\r\n\r\n<br>"
  main/section_photo: ''
  main/landing_description: Brief description here.
---
{% extends 'layouts/basic-page' %}
{% block 'main/accessory' %}
  {% include 'equipment-list-setup' %}
  {% include 'equipment-type-list' with equipment_type: gps_unit_items %}
{% endblock %}
