---
title: Microphones
slug: microphones
handle: microphones
position: 4
listed: true
published: true
is_layout: false
editable_elements:
  main/page_content: "<h2>Sony Wireless Microphone Kit</h2>&nbsp;<img title=\"Image:
    /samples/assets/Sony_Mic_Kit.jpg\" src=\"/samples/assets/Sony_Mic_Kit.jpg\" class=\"wysiwyg-float-right\"><b><div><br></div>Features:</b><div><ul><li>Plug-in
    transmitter with omni-directional handheld microphone</li><li>Bodypack transmitter
    with lavalier microphone</li></ul><p><br></p><p><b>Additional information: </b>For
    full specifications, please see the <a href=\"/samples/assets/sony_UWP_Series_wireless_mics__1_.pdf\"
    title=\"sony_UWP_Series_wireless_...\">operating instructions</a>. \r\n\r\n</p><p><br></p><p><br></p><p></p><h2>Blue
    Snowball Microphone</h2><p></p><b><img title=\"Image: /samples/assets/Blue_Mic.jpg\"
    src=\"/samples/assets/Blue_Mic.jpg\" class=\"wysiwyg-float-right\"></b><p></p><p><b>Features:&nbsp;</b></p><ul><li>Frequency
    response 40-18kHz</li><li>Polar patterns, omnidirectional or cardiod</li></ul><p></p><b>Additional
    information:</b> For full specifications, please visit&nbsp;<a href=\"http://www.bluemic.com/products/snowball/#/desc/\">Blue
    Microphone's website</a>.<br><p></p></div>"
  main/section_photo: ''
  main/landing_description: Brief description here.
---
{% extends 'layouts/basic-page' %}
{% block 'main/accessory' %}
  {% include 'equipment-list-setup' %}
  {% include 'equipment-type-list' with equipment_type: microphone_items %}
{% endblock %}
