---
title: Events
slug: events
handle: events
position: 0
listed: true
published: true
is_layout: false
---
{% extends 'layouts/default' %}

{% block 'main' %}

%events

{{ 'eventsPage.bundle.js' | javascript_tag }}

{% endblock %}
