---
title: Events
slug: events
position: 0
listed: true
published: true
is_layout: false
---
{% extends 'layouts/default' %}

{% block main %}
#events-container{"booked-username" => "{{site.metafields.sensitive_data.booked_username}}", "booked-password" => "{{site.metafields.sensitive_data.booked_password}}"}
  .events
    .event-feature
      %img.img-responsive.img-faded{:alt => "Abstract placeholder", :src => "/images/events/abstract-placeholder.jpg"}/
      .btn-group.feature{"aria-label" => "Featured Events", :role => "group"}
        %button.btn.btn-default{:type => "button"}
          %i.fa.fa-caret-left
        %button.btn.btn-default{:type => "button"} 1
        %button.btn.btn-default{:type => "button"} 2
        %button.btn.btn-default{:type => "button"} 3
        %button.btn.btn-default{:type => "button"}
          %i.fa.fa-caret-right

      / Tab panes
      .tab-content
        %div{"v-show" => "show"} loading...
        #today{"v-for" => "(date, events) in allEvents | filterBy searchText | orderBy sortKey reverse | roomName room | eventType event_type | limitList list_limit | groupBy 'event_start_time'"}
          %hr
          %h2
            ((date | momentDateText))
            %small ((date | momentDate))
          %hr
          #events
            .event{"v-for" => "event in events"}
              .event-detail
                %span.time{"v-if" => "event.event_end_time"}
                  %i.fa.fa-clock-o
                  ((event.event_start_time | momentTime )) - ((event.event_end_time | momentTime))
                %span.time{"v-else" => ""}
                  %i.fa.fa-clock-o
                  ((event.event_start_time | momentTime ))

                %span.location.pull-right
                  %i.fa.fa-map-marker>
                  ((event.event_room_name))
              %h3.no-top-margin (((event.event_title)))
              %p.description ((event.event_description))
              %p.event-type ((event.event_type | toString ))
        %div{"v-show" => "!show", "v-if" => "allEvents.length == 0"} No events for selection...

        %h6
          %a{"v-on:click" => "loadMoreEvents()", "v-if" => "allEvents.length > list_limit"} ((load_more_text))
  .events-filters
    %a.btn.btn-lg.btn-default{:href => "#"} Reserve a space for your event!

    -# jquery ui datepicker
    #datepicker{"v-datepicker" => ""}

    %div
      ((dateSelected | momentDate))
      %a.fa.fa-times{"v-on:click" => "removeSelectedDate()", "v-if" => "dateSelected"}

    %h6
      %a{"data-filter" => ".event", "v-on:click" => "clearAllFilters()"} Clear All Filters

    %h6 Filter
    %input.form-control{:placeholder => "Filter events", :type => "text", "v-model" => "searchText"}
    %a.fa.fa-times{"v-on:click" => "removeSearchFilter()", "v-if" => "searchText"}

    %h6 Sort by
    %ul.list-unstyled
      %li{"v-on:click" => "sortBy('event_start_time')"} Date
      %li{"v-on:click" => "sortBy('event_title')"} Event Title
    %h6 Type
    %ul.fa-ul{"data-filter-group" => "type"}
      %li{"v-for" => "event_type of allEventTypes | orderBy 'event_type'"}
        %a.filter{"v-bind:class" => "{ 'selected-filter': event_type == event_selected }", "v-on:click" => "setEventTypeFilter(event_type)"} ((event_type))
        %a.fa.fa-times{"v-on:click" => "removeEventTypeFilter()", "v-if" => "event_type == event_selected"}
    %h6 Space/Room
    %ul.fa-ul{"data-filter-group" => "venue"}
      %li{"v-for" => "room of allRoomNames | orderBy 'room'"}
        / event to set room filter
        %a.filter{"v-bind:class" => "{ 'selected-filter': room == room_selected }", "v-on:click" => "setRoomFilter(room)"} ((room))
        %a.fa.fa-times{"v-on:click" => "removeRoomFilter()", "v-if" => "room == room_selected"}


{% include 'section-nav' %}
{{ 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js' | javascript_tag }}
{{ 'https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.11.1/lodash.js' | javascript_tag }}
{{ 'events-calendar.js' | javascript_tag }}
{{ 'vendor/vue/vue.js' | javascript_tag }}
{{ 'vendor/vue-resource/vue-resource.js' | javascript_tag }}

{{ 'events-calendar-directive.js' | javascript_tag }}
{{ 'events.js' | javascript_tag }}

{% endblock %}
