---
title: Events Prototype
slug: events-prototype
position: 0
listed: true
published: true
is_layout: false
---
{% extends 'layouts/default' %}

{% block main %}
#events-container
  .events
    .event-feature
      %img.img-responsive.img-faded{:alt => "Abstract placeholder", :src => "/images/events/abstract-placeholder.jpg"}/
      .btn-group.feature{"aria-label" => "Featured Events", :role => "group"}
        %button.btn.btn-default{:type => "button"}
          %i.fa.fa-caret-left
        %button.btn.btn-default{:type => "button"} 1
        %button.btn.btn-default{:type => "button"} 2
        %button.btn.btn-default{:type => "button"} 3
        %button.btn.btn-default{:type => "button"}
          %i.fa.fa-caret-right

      / Tab panes
      .tab-content
        #today.tab-pane.active{:role => "tabpanel"}
          %h2
            Upcoming Events
          #events
            .event{"v-for" => "event in allEvents | roomName room | eventType event_type | orderBy 'event_start_time'"}
              .event-detail
                %span.time
                  %i.fa.fa-clock-o>
                  ((event.event_start_time | date '%a, %b %-d, %Y; %I:%M %p')) - ((event.event_end_time |  date '%I:%M %p'))
                %span.location.pull-right
                  %i.fa.fa-map-marker>
                  ((event.event_room_name))
              %h3.no-top-margin ((event.event_title))
              %p.description ((event.event_description))
              %div{"v-for" => "event_type in event.event_type"}
                %p.description ((event_type))

        #week.tab-pane{:role => "tabpanel"}
          %h3
            Tomorrow
            %small Wed, May 6, 2015
        #month.tab-pane{:role => "tabpanel"}
          %h3
            This Week
            %small May 4 - 8, 2015
  .events-filters
    %a.btn.btn-lg.btn-default{:href => "#"} Reserve a space for your event!

    .calendar-table
      %p.text-center
        %a.pull-left{:href => "#"}
          %i.fa.fa-caret-left
        %a.pull-right{:href => "#"}
          %i.fa.fa-caret-right
        May 2015
      %table.table.table-border
        %tr
          %th.tg-031e Sun
          %th.tg-031e Mon
          %th.tg-031e Tue
          %th.tg-031e Wed
          %th.tg-031e Thu
          %th.tg-031e Fri
          %th.tg-031e Sat
        %tr
          %td.tg-031e 1
          %td.tg-031e 2
          %td.tg-031e 3
          %td.tg-031e 4
          %td.tg-031e 5
          %td.tg-031e 6
          %td.tg-031e 7
        %tr
          %td.tg-031e 8
          %td.tg-031e 9
          %td.tg-031e 10
          %td.tg-031e 11
          %td.tg-031e 12
          %td.tg-031e 13
          %td.tg-031e 14
        %tr
          %td.tg-031e 15
          %td.tg-031e 16
          %td.tg-031e 17
          %td.tg-031e 18
          %td.tg-031e 19
          %td.tg-031e 20
          %td.tg-031e 21
        %tr
          %td.tg-031e 22
          %td.tg-031e 23
          %td.tg-031e 24
          %td.tg-031e 25
          %td.tg-031e 26
          %td.tg-031e 27
          %td.tg-031e 28
    %h6
      %a{"data-filter" => ".event", :href => "#"} Clear All Filters
    %h6 Sort by
    %ul.list-unstyled
      %li Relevance
      %li Date
      %li Event Title
    %h6 Type
    %ul.fa-ul{"data-filter-group" => "type"}
      %li{"v-for" => "event_type of allEventTypes | orderBy 'event_type'"}
        %a.filter{"v-bind:class" => "{ 'selected-filter': event_type == event_selected }", "v-on:click" => "setEventTypeFilter(event_type)"} ((event_type))

    %h6 Space/Room
    %ul.fa-ul{"data-filter-group" => "venue"}
      %li{"v-for" => "room of allRoomNames | orderBy 'room'"}
        / event to set room filter
        %a.filter{"v-bind:class" => "{ 'selected-filter': room == room_selected }", "v-on:click" => "setRoomFilter(room)"} ((room))


{% include 'section-nav' %}
{{ 'vendor/vue/vue.js' | javascript_tag }}
{{ 'vendor/vue-resource/vue-resource.js' | javascript_tag }}
{{ 'vendor/vue-filter/vue-filter.js' | javascript_tag }}

{{ 'events-prototype.js' | javascript_tag }}

{% endblock %}
