---
title: Events
slug: events
handle: events
position: 0
listed: true
published: true
is_layout: false
---
{% extends 'layouts/default' %}

{% block main %}

%events{"booked-username" => "{{site.metafields.sensitive_data.booked_username}}", "booked-password" => "{{site.metafields.sensitive_data.booked_password}}"}

{% include 'section-nav' %}

{{ 'eventsPage.bundle.js' | javascript_tag }}

{% endblock %}
