---
title: Events Prototype
slug: events-prototype
position: 0
listed: true
published: true
is_layout: false
---
{% extends 'layouts/default' %}

{% block main %}
#events-container{"booked-username" => "{{site.metafields.sensitive_data.booked_username}}", "booked-password" => "{{site.metafields.sensitive_data.booked_password}}"}
  .events
    .event-feature
      %img.img-responsive.img-faded{:alt => "Abstract placeholder", :src => "/images/events/abstract-placeholder.jpg"}/
      .btn-group.feature{"aria-label" => "Featured Events", :role => "group"}
        %button.btn.btn-default{:type => "button"}
          %i.fa.fa-caret-left
        %button.btn.btn-default{:type => "button"} 1
        %button.btn.btn-default{:type => "button"} 2
        %button.btn.btn-default{:type => "button"} 3
        %button.btn.btn-default{:type => "button"}
          %i.fa.fa-caret-right

      / Tab panes
      .tab-content
        #today.tab-pane.active{:role => "tabpanel"}
          %h2
            Upcoming Events
          #events
            .event{"v-for" => "event in allEvents | orderBy sortKey reverse | roomName room | eventType event_type | limit list_limit"}
              %h2
                ((event.event_start_time | momentDateText))
                %small ((event.event_start_time | momentDate))

              .event-detail
                %span.time
                  %i.fa.fa-clock-o>
                  ((event.event_start_time | momentTime )) - ((event.event_end_time | momentTime))
                %span.location.pull-right
                  %i.fa.fa-map-marker>
                  ((event.event_room_name))
              %h3.no-top-margin ((event.event_title))
              %p.description ((event.event_description))
              -# %div{"v-for" => "event_type in event.event_type"}
              -#   %p.description ((event_type))
      %h6
        %a{"v-on:click" => "loadMoreEvents()"} ((load_more_text))
  .events-filters
    %a.btn.btn-lg.btn-default{:href => "#"} Reserve a space for your event!

    -# jquery ui datepicker
    #datepicker{"v-datepicker" => ""}
    %h6
      %a{"data-filter" => ".event", "v-on:click" => "clearAllFilters()"} Clear All Filters
    %h6 Sort by
    %ul.list-unstyled
      %li{"v-on:click" => "sortBy('event_start_time')"} Date
      %li{"v-on:click" => "sortBy('event_title')"} Event Title
    %h6 Type
    %ul.fa-ul{"data-filter-group" => "type"}
      %li{"v-for" => "event_type of allEventTypes | orderBy 'event_type'"}
        %a.filter{"v-bind:class" => "{ 'selected-filter': event_type == event_selected }", "v-on:click" => "setEventTypeFilter(event_type)"} ((event_type))
        %a.fa.fa-times{"v-on:click" => "removeEventTypeFilter()", "v-if" => "event_type == event_selected"}
    %h6 Space/Room
    %ul.fa-ul{"data-filter-group" => "venue"}
      %li{"v-for" => "room of allRoomNames | orderBy 'room'"}
        / event to set room filter
        %a.filter{"v-bind:class" => "{ 'selected-filter': room == room_selected }", "v-on:click" => "setRoomFilter(room)"} ((room))
        %a.fa.fa-times{"v-on:click" => "removeRoomFilter()", "v-if" => "room == room_selected"}


{% include 'section-nav' %}
{{ 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js' | javascript_tag }}

{{ 'events-calendar.js' | javascript_tag }}
{{ 'vendor/vue/vue.js' | javascript_tag }}
{{ 'vendor/vue-resource/vue-resource.js' | javascript_tag }}

{{ 'events-calendar-directive.js' | javascript_tag }}
{{ 'events-prototype.js' | javascript_tag }}

{% endblock %}
