---
title: Divisions template page
content_type: divisions
editable_elements:
  main/page_content: Page content here

---
{% extends 'layouts/section' %}

{% block 'main/dynamic' %}

  {% assign current_division = division %}

  {% include 'staff-directory-options' %}

  <div class="ui hidden divider"></div>

  {% include 'staff-directory' %}
  {{ 'staffDirectory.bundle.js' | javascript_tag }}

{% endblock %}
