// sass-lint:disable-all
// All temporary hacks here to help ensure they don't stick around

// Pointer cursor for all links on events page
.events-container {
  a {
    &:hover {
      cursor: pointer;
    }
  }
}

// Quick fix for desktops & laptops on home page
// -- keep them stacked at tablet breakpoint while in isolate layout
// -- alternative is to wrap them in another div :(
.shame-isolate-laptops {
  @include susy-breakpoint($tablet $lapdesk, $g-tablet) {
    margin-top: 6.5em;
  }
}

// Necessary evils for fixed table header on software page
// https://github.com/terrymun/StickySort#styling
div.software-list__table {
  &.ui.table { // Override semantic ui default
    @include susy-breakpoint($tablet, $g-tablet) {
      font-size: modular-scale(0);
    }

    font-size: modular-scale(-4);
  }
}

table.software-list__table {
  &.ui.table { // Override semantic ui default
    margin: -.1em;
  }
}

// If only semantic-ui src was available in Sass
// -- then maybe these a11y hacks wouldn't be necessary
.ui.button {
  &:focus {
    outline-width: 1px;
    outline-style: dotted;
    outline-color: ButtonText;
    @supports (outline-color: -webkit-focus-ring-color) {
      outline-width: 5px;
      outline-style: auto;
      outline-color: -webkit-focus-ring-color;
    }
  }

  &.teal {
    color: color('black');

    &:hover {
      color: color('black');
    }
  }
}

.ui.label {
  &.teal {
    color: color('black') !important;
  }
}

.ui.label {
  &.orange {
    color: color('black') !important;
  }
}

// Override grayed-out color for default value in select lists & toggles
.ui.dropdown:not(.button)>.default.text {
    color: color('black') !important;
}
.ui.toggle.checkbox .box::before, .ui.toggle.checkbox label::before {
  background-color: color('light-gray') !important;
}
.ui.toggle.checkbox input ~ .box::after, .ui.toggle.checkbox input ~ label::after {
  box-shadow: 0 0 .1em color('medium-gray') inset !important;
}

.ui.toggle.checkbox input:focus ~ .box, .ui.toggle.checkbox input:focus ~ label {
  border: dotted 1px color('action');
}

.body-equipment .section-nav {
  display: none !important; // Hide sidebar nav on Equipment page for our interim solution of adding links to LibCal public interface for reserving equipment
}

// Need the ID here to avoid the insanity while attempting to override sui defaults :(
#instruction-type-other,
#location-other-2,
#location-other-3 {
  margin: .4em 0 0 2em;
}

.staff-directory__team {
  a {
    text-decoration: none !important;
  }
}

.mannlib-hidden {
  display: none;
}

// Override of emergency alert banner to fit the style on all other unit sites - no current options matched well enough
.ui.message.emergency-alert {
  background-color: #fcf8e3;
  color: #0068ac;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  text-align: center;
  a, a:visited, a:focus, a:active {
    color: #0068ac;
  }
}

// Override link color for ui error message
.ui.message.error {
  a, a:visited, a:focus, a:active {
    color: color('error-dark');
    font-weight: 700;
  }
}

// Temporarily reduce opacity for space finder for Fall 2020 (COVID-19)
.space,
.space-finder__cards,
.space-finder__study-spaces {
  opacity: 50%;

  // And disable all links while we're at it
  a {
    pointer-events: none;
    cursor: default !important;
    text-decoration: none;
  }
}
