// All temporary hacks here to help ensure they don't stick around

// Pointer cursor for all links on events page
.events-container {
  a {
    &:hover {
      cursor: pointer;
    }
  }
}

// Quick fix for desktops & laptops on home page
// -- keep them stacked at tablet breakpoint while in isolate layout
// -- alternative is to wrap them in another div :(
.shame-isolate-laptops {
  @include susy-breakpoint($tablet $lapdesk, $g-tablet) {
    margin-top: 6.5em;
  }
}

// Necessary evils for fixed table header on software page
// https://github.com/terrymun/StickySort#styling
div.software-list__table {
  &.ui.table { // Override semantic ui default
    @include susy-breakpoint($tablet, $g-tablet) {
      font-size: modular-scale(0);
    }

    font-size: modular-scale(-4);
  }
}

table.software-list__table {
  &.ui.table { // Override semantic ui default
    margin: -.1em;
  }
}
