<div class="events-container">
	<div v-show="showNoEventsMessage"class="ui segment">
		<div class="ui active centered inline loader">
			<div class="ui text loader">Loading</div>
		</div>
	</div>

	<div class="events" v-if="eventsList">
		<!-- Tab panes -->
		<div class="tab-content">
			<div class="events__per-day" v-for="(date, events) in allEvents | orderBy 'event_start_time' | roomFilter room | eventTypeFilter eventType | limitListFilter limitList | groupBy 'event_start'">
				<h2 class="events__date-heading">
					((date | momentDate))
          <span class="events__date badge badge-alert" v-if="date | momentDateText">
            ((date | momentDateText))
          </span>
        </h2>

				<div class="events__list">
					<div class="event" v-for="event in events">
						<h3 class="event__title">
            	<a v-link="{ name: 'events', query: { eventId: event.event_id }}" v-on:click="setRecurringEventStartTime(event.event_start_time)">(((event.event_title)))</a>
						</h3>
						<div class="event__details">

							<span class="time" v-if="event.event_end_time">
								<i class="fa fa-clock-o"></i>
									((event.event_start_time | momentTime )) - ((event.event_end_time | momentTime))
									<a v-if="event.event_recurring" v-link="{ name: 'events', query: { eventId: event.event_id }}" v-on:click="setRecurringEventStartTime(event.event_start_time)">&rarr; Additional Dates</a>
							</span>

              <span class="time" v-else="">
                <i class="fa fa-clock-o"></i>
	                ((event.event_start_time | momentTime ))
									<a v-if="event.event_recurring" v-link="{ name: 'events', query: { eventId: event.event_id }}" v-on:click="setRecurringEventStartTime(event.event_start_time)">&rarr; Additional Dates</a>
              </span>

              <span class="location pull-right">
                <i class="fa fa-map-marker"></i>
                ((event.event_room_name))
              </span>

            </div>

						<description :description-text = "(( event.event_description ))" word-limit = "20"></description>

						<span class="event__type badge-notice" v-for="type in event.event_type">
              ((type))
            </span>

					</div>
				</div>
			</div>

			<div v-if="filteredEvents.length == 0" v-show="!showNoEventsMessage">
        No events for selection...
			</div>

			<h6>
        <a v-if="allEvents.length &gt; limitList" v-on:click="loadMoreEvents()">
          ((loadMoreText))
        </a>
			</h6>

    </div>
	</div>

	<div class="events-filters" v-if="eventsList">
		<ul>
			<li>
				<a class="" href="http://events.cornell.edu/calendar?event_types%5B%5D=4205" target="_blank">
			    All Library Events
			    <i class="fa fa-angle-double-right"></i>
			  </a>
			</li>
			<li>
				<a class="" href="http://spaces.library.cornell.edu/calendar/CULworkshops/?cid=4102&t=d&d=0000-00-00&cm%5B%5D=2381&cal%5B%5D=4102" target="_blank">
					All Library Workshops
			    <i class="fa fa-angle-double-right"></i>
			  </a>
			</li>
		</ul>


		<div id="datepicker" v-datepicker="">
		</div>

		<div class="events-filters__selected-date">
			((dateSelected | momentDate))
      <a class="fa fa-times" v-if="dateSelected" v-on:click="removeSelectedDate()"></a>
		</div>

    <a data-filter=".event" v-show="roomSelected || eventSelected || dateSelected" v-on:click="clearAllFilters()">
      <button class="ui button">
        <i class="fa fa-times"></i>
        Clear All Filters
      </button>
    </a>

		<h6 class="events-filters__type">
      Filter Events
    </h6>

    <!-- <input class="form-control" placeholder="Filter events" type="text" v-model="searchText"> -->
    <!-- <a class="fa fa-times" v-if="searchText" v-on:click="removeSearchFilter()"></a> -->

		<h6 class="events-filters__type">
      By type
    </h6>

		<ul data-filter-group="type">
			<li v-for="event_type of allEventTypes | orderBy 'eventType'">
				<a class="filter" v-bind:class="{ 'selected-filter': event_type == eventSelected }" v-on:click="setEventTypeFilter(event_type)">
          ((event_type))
        </a>
        <a class="fa fa-times" v-if="event_type == eventSelected" v-on:click="removeEventTypeFilter()">
        </a>
			</li>
		</ul>
		<ul v-if="uncuratedEventTypes.length">
			<li v-for="event_type of uncuratedEventTypes | orderBy 'eventType'">
				<a class="filter" v-bind:class="{ 'selected-filter': event_type == eventSelected }" v-on:click="setEventTypeFilter(event_type)">
					((event_type))*
				</a>
				<a class="fa fa-times" v-if="event_type == eventSelected" v-on:click="removeEventTypeFilter()">
				</a>
			</li>
		</ul>

		<h6 class="events-filters__type">
      By location
    </h6>

		<ul data-filter-group="venue">
			<li v-for="room of allRoomNames | orderBy 'room'">
				<!-- event to set room filter -->
				<a class="filter" v-bind:class="{ 'selected-filter': room == roomSelected }" v-on:click="setRoomFilter(room)">
					((room))
        </a>
        <a class="fa fa-times" v-if="room == roomSelected" v-on:click="removeRoomFilter()">
        </a>
			</li>
		</ul>
		<ul v-if="uncuratedRoomNames.length">
			<li v-for="room of uncuratedRoomNames | orderBy 'room'">
				<!-- event to set room filter -->
				<a class="filter" v-bind:class="{ 'selected-filter': room == roomSelected }" v-on:click="setRoomFilter(room)">
					((room))*
				</a>
				<a class="fa fa-times" v-if="room == roomSelected" v-on:click="removeRoomFilter()">
				</a>
			</li>

		</ul>
	</div>

	<div class="ui fullscreen modal">
		<i class="close fa fa-times"></i>
		<div class="header">
			(((event.event_title)))
		</div>

		<div class="content">
			<h2 class="events__date-heading">
				((event.event_start_time | momentDate))
				<span class="events__date badge badge-alert" v-if="event.event_start_time | momentDateText">
					((event.event_start_time | momentDateText))
				</span>
			</h2>

			<div class="event__details">

				<span class="location pull-right">
					<i class="fa fa-map-marker"></i>
					((event.event_room_name))
				</span>

				<div class="ui accordion" v-if="event.event_has_additional_times">
					<div class="title">
						<span class="time" v-if="event.event_end_time">
							<i class="fa fa-clock-o"></i>
								((event.event_start_time | momentTime )) - ((event.event_end_time | momentTime))
						</span>

						<span class="time" v-else="">
							<i class="fa fa-clock-o"></i>
							((event.event_start_time | momentTime ))
						</span>
						&rarr; More Dates through (( event.event_additional_times[event.event_has_additional_times-1][0] | momentDate ))
						<i class="dropdown icon"></i>
					</div>
						<div class="content" v-if="event.event_end_time">
							<p v-for="additional_time of event.event_additional_times">
								((additional_time[0] | momentDate)), ((additional_time[0] | momentTime)) - ((additional_time[1] | momentTime))
							</p>
						</div>
						<div class="content" v-else="">
							<p v-for="additional_time of event.event_additional_times">
								((additional_time[0] | momentDate)), ((additional_time[0] | momentTime))
							</p>
						</div>
				</div>

				<div class="" v-else="">

					<span class="time" v-if="event.event_end_time">
						<i class="fa fa-clock-o"></i>
							((event.event_start_time | momentTime )) - ((event.event_end_time | momentTime))
					</span>

					<span class="time" v-else="">
						<i class="fa fa-clock-o"></i>
						((event.event_start_time | momentTime ))
					</span>

				</div>

			</div>

			<p class="description" >
				(((event.event_description)))
			</p>

			<span class="event__type badge-notice" v-for="type in event.event_type">
				((type))
			</span>

		</div>

	</div>
</div>
