---
title: Equipment
slug: equipment
handle: equipment
position: 1
listed: true
published: true
is_layout: false
editable_elements:
  main/page_content: 'Mann Library has a variety of equipment available for check-out
    from the 1st floor Circulation Desk. All the equipment is available on a first-come,
    first-served basis. If what you are looking for is unavailable at Mann please
    look at the availability of <a href="https://olinuris.library.cornell.edu/services/equipment/loans"
    title="Link: https://olinuris.library.cornell.edu/services/equipment/loans">equipment
    at other libraries</a>.<div><br></div><h2>Policies</h2><div><ul><li>Equipment
    may be borrowed for up to 3 days.</li><li>Equipment may be checked out by Cornell
    students, faculty, and staff with a valid Cornell ID.</li><li>Equipment loans
    are not extended to holders of NY State Privilege cards, CU Library cards, spousal
    cards, or proxy users. "On Leave" or "in absentia" status students are not eligible
    to check out equipment.</li><li>Equipment is charged out as a complete kit, and
    patrons are responsible for returning all items on time and in good condition
    to the Mann Library Circulation Desk during operating hours.</li><li>Overdue fines
    are $1.00/minute.</li><li><b>Please note: Equipment is not renewable.</b></li></ul><p><br></p><p>Questions?
    Please contact the Circulation Desk at 255-3296</p></div>'
  main/section_photo: ''
  main/landing_description: Brief description here.
---
{% extends "layouts/basic-page" %}
{% block 'main/dynamic' %}
  {% include 'equipment-list' %}
{% endblock %}
