---
title: Software
slug: software
position: 3
listed: true
published: true
is_layout: false
editable_elements:
  main/page_content: '<p>To make a request for software on our machines please view
    Mann Library''s<a rel="nofollow" target="_blank" href="/samples/assets/software_request_policy_2014.pdf"
    title="Link: /samples/assets/software_request_policy_2014.pdf"> Software Request
    Policy</a> and then fill out our online software request form.</p><p>Software
    for the CIT Classroom machines located in Mann Library can be found on the <a
    rel="nofollow" href="http://labs.cit.cornell.edu/standard-software-bundle/">CIT
    Labs page</a>.</p>'
---
{% extends "layouts/basic-page" %}
